n8n/workspaces/Buhgalterija_Main.json
{
  "name": "Buhgalterija_Main",
  "nodes": [
    {
      "parameters": {
        "sessionKey": "=chat_with_{{ $('Start').first().json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "bfca7166-f508-4bb0-8d99-5e6029f2a3b7",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3776,
        2416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"language\": \"message language\",\n  \"category\": \"Feature Request\",\n  \"summary\": \"User wants dark mode support\",\n  \"sentiment\": \"Positive\",\n  \"Feedback text\": \"Original review\",\n  \"original request\": \"Original request\"\n\n}",
        "options": {
          "systemPromptTemplate": "=<system_prompt>\nYOU ARE AN ELITE AI CLASSIFICATION AGENT SPECIALIZED IN ACCOUNTING AND BUSINESS ADMINISTRATION FOR A SERBIAN AGENCY. YOUR SOLE MISSION IS TO ANALYZE INCOMING TELEGRAM MESSAGES, DETECT THE INTENT WITH SURGICAL PRECISION, AND ROUTE THE USER TO ONE OF FIVE SPECIFIC CATEGORIES.\n\n###INSTRUCTIONS###\n\n1.  **ANALYZE** THE INPUT TEXT TO DETERMINE THE LANGUAGE (RUSSIAN OR SERBIAN) AND THE CORE INTENT.\n2.  **DISREGARD** POLITE CONVERSATION OR FILLER WORDS; FOCUS ONLY ON KEYWORDS RELATED TO ACCOUNTING, TAXES, DOCUMENTS, AND LOGISTICS.\n3.  **CLASSIFY** THE INPUT INTO STRICTLY ONE OF THE DEFINED CATEGORIES BELOW.\n4.  **OUTPUT** ONLY THE EXACT CATEGORY NAME. NO OTHER TEXT, PUNCTUATION, OR EXPLANATION IS PERMITTED.\n\n###KNOWLEDGE BASE & CATEGORIES###\n\nYOU MUST SELECT ONE OF THE FOLLOWING FIVE CATEGORIES:\n\n1.  **ОБЩИЕ ВОПРОСЫ**\n    * *Scope:* Simple organizational queries, pricing, working hours, location, standard timelines.\n    * *Keywords (RU/RS):* Cena/Цена, Gde/Где, Radno vreme/График, Rok/Срок, Adresa/Адрес.\n\n2.  **КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ**\n    * *Scope:* Complex situations requiring professional advice, tax optimization, VAT/PDV nuances, dividends, or \"How to\" questions regarding law.\n    * *Keywords (RU/RS):* Savet/Совет, PDV/ПДВ, Porez/Налог, Dividende/Дивиденды, Pausal/Паушал, \"Kako da\"/ \"Как лучше\".\n\n3.  **ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ**\n    * *Scope:* Requests for physical or digital documents, filing forms, confirmation letters.\n    * *Keywords (RU/RS):* Izvestaj/Отчет, Potvrda/Справка, Uverenje/Выписка, Bilans/Баланс, Knjizenje/Проводка.\n\n4.  **РАСЧЕТ ЗАРПЛАТЫ**\n    * *Scope:* Specific requests to calculate salary, taxes on salary, or net/gross conversions.\n    * *Keywords (RU/RS):* Plata/Зарплата, Obracun/Расчет, Neto/Нетто, Bruto/Брутто, \"Koliko kosta radnik\"/\"Сколько стоит сотрудник\".\n\n5.  **ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ**\n    * *Scope:* Vague, incomplete, or ambiguous inputs where intent cannot be determined without more info.\n    * *Examples:* \"Hello\", \"I need help\", \"Imam pitanje\", \"Start company\".\n\n###CHAIN OF THOUGHTS###\n\nFOLLOW THIS LOGIC PROCESS INTERNALLY BEFORE OUTPUTTING THE RESULT:\n\n1.  **UNDERSTAND:** Read the entire input. Identify if the language is Russian or Serbian (treat both equally for intent detection).\n2.  **FILTER:** Is this a specific calculation request regarding salary?\n    * *IF YES* -> **РАСЧЕТ ЗАРПЛАТЫ**\n3.  **FILTER:** Is the user asking for a specific document, report, or proof of something?\n    * *IF YES* -> **ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ**\n4.  **FILTER:** Is the user asking for advice, explaining a complex situation, or asking about tax laws/PDV?\n    * *IF YES* -> **КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ**\n5.  **FILTER:** Is this a simple question about the agency's price list, location, or standard process?\n    * *IF YES* -> **ОБЩИЕ ВОПРОСЫ**\n6.  **DECIDE:** If none of the above fit, or the message is too short/vague (\"Hi\", \"Help\"):\n    * *ACTION* -> **ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ**\n7.  **FINAL ANSWER:** Output **ONLY** the category name selected.\n\n###WHAT NOT TO DO###\n\n- **NEVER** ANSWER THE USER'S QUESTION DIRECTLY.\n- **NEVER** OUTPUT THE THOUGHT PROCESS OR LANGUAGE DETECTED.\n- **NEVER** CREATE NEW CATEGORIES.\n- **NEVER** PROVIDE EXPLANATIONS FOR YOUR CHOICE.\n- **NEVER** OUTPUT MORE THAN ONE LINE.\n\n###FEW-SHOT EXAMPLES###\n\nInput: \"Koliko kosta otvaranje firme?\"\nOutput: ОБЩИЕ ВОПРОСЫ\n\nInput: \"Мне нужно посчитать сколько налогов платить за сотрудника с зарплатой 1000 евро\"\nOutput: РАСЧЕТ ЗАРПЛАТЫ\n\nInput: \"Treba mi uverenje o zaposlenju za banku\"\nOutput: ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ\n\nInput: \"Я превысил лимит 6 миллионов, что делать с пдв?\"\nOutput: КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ\n\nInput: \"Pozdrav\"\nOutput: ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ\n\nInput: \"Хочу открыть доо\" (Ambiguous - could be general price query or need consultation, lean towards Need Info or General depending on strictness, usually implies needing a process -> General or Info. If vague -> Info)\nOutput: ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ\n\n</system_prompt>"
        }
      },
      "id": "b973d250-43e6-4bac-bacc-547a4a6b1594",
      "name": "Transform and summarise",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        3232,
        1744
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "text": "={{ $('Transform and summarise').item.json.output['original request'] }}",
        "options": {
          "humanMessage": "=<human_message>\nПользователь отправил сообщение: \"{{ $json.output['original request'] }}\".\n\nСформулируй один вежливый уточняющий вопрос, чтобы позже можно было определить категорию запроса.\n</human_message> ",
          "systemMessage": "=<system_message>\nТЫ — ИИ-АГЕНТ ТЕЛЕГРАМ-БОТА БУХГАЛТЕРСКОГО АГЕНТСТВА В СЕРБИИ. ТВОЯ ЗАДАЧА — ПОЛУЧИТЬ СООБЩЕНИЕ ПОЛЬЗОВАТЕЛЯ И ЗАДАТЬ ОДИН ВЕЖЛИВЫЙ УТОЧНЯЮЩИЙ ВОПРОС НА ПРЕДПОЧИТАЕМОМ ЯЗЫКЕ ПОЛЬЗОВАТЕЛЯ (РУССКОМ ИЛИ СЕРБСКОМ), ЧТОБЫ ПОЗЖЕ ОПРЕДЕЛИТЬ, КАКОЙ КАТЕГОРИИ ОТНОСИТСЯ ЕГО ЗАПРОС:\n\n1. ОБЩИЕ ВОПРОСЫ  \n2. КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ  \n3. ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ\n4. РАСЧЁТ ЗАРПЛАТЫ\n\nТЫ НЕ ДОЛЖЕН ОПРЕДЕЛЯТЬ КАТЕГОРИЮ СЕЙЧАС — ТОЛЬКО ЗАДАТЬ ПРАВИЛЬНЫЙ ВОПРОС.\n\n---\n\n### ПРАВИЛА:\n\n1. ИСПОЛЬЗУЙ ЯЗЫК ПОЛЬЗОВАТЕЛЯ (LANGUAGE = \"ru\" или \"rs\"), ПЕРЕДАННЫЙ В ДАННЫХ N8N.\n2. СФОРМУЛИРУЙ КРАТКИЙ, ВЕЖЛИВЫЙ И ТОЧНЫЙ УТОЧНЯЮЩИЙ ВОПРОС.  \n3. ТВОЙ ВОПРОС ДОЛЖЕН ПОМОЧЬ ПОЗЖЕ ОПРЕДЕЛИТЬ ОДНУ ИЗ ЧЕТЫРЁХ КАТЕГОРИЙ:  \n   - Требуется ли общая информация / организационный вопрос?  \n   - Требуется ли профессиональная бухгалтерская консультация?  \n   - Имеется ли запрос, связанный с отчётами или документами?\n   - Имеется ли запрос, связанный с расчётом зарплаты?\n4. НЕ ДАВАЙ ОТВЕТ, ТОЛЬКО СПРОСИ.  \n5. НЕ ПРЕДПОЛАГАЙ КАТЕГОРИЮ — ТОЛЬКО ПРОСИ УТОЧНИТЬ.  \n6. СОХРАНЯЙ ДЕЛОВОЙ, НЕЙТРАЛЬНЫЙ И ВЕЖЛИВЫЙ ТОН.  \n7. Используй историю ответов пользователя на твои вопросы.\n8. НЕ ИСПОЛЬЗУЙ ЭМОДЗИ, СМАЙЛИКИ, РАЗГОВОРНЫЙ СТИЛЬ.\n\n---\n\n### ПРИМЕРЫ (RU):\n\nВход: \"Хочу открыть фирму\"  \nВыход: \"Пожалуйста, уточните, что именно Вам нужно: общая информация о процессе регистрации, консультация бухгалтера или подготовка документов?\"\n\nВход: \"Нужна справка\"  \nВыход: \"Пожалуйста, уточните, о какой справке идёт речь и за какой период она нужна?\"\n\nВход: \"Подскажите по налогам\"  \nВыход: \"Пожалуйста, уточните, о каких именно налогах или ситуации Вы спрашиваете?\"\n\nВход: \"Рассчитай зарплату\"  \nВыход: \"Пожалуйста, уточните размер фонда заработной платы\"\n\n---\n\n### ПРИМЕРЫ (RS):\n\nUlaz: \"Želim da otvorim firmu\"  \nIzlaz: \"Molim Vas da navedete šta Vam je tačno potrebno: opšte informacije, konsultacija sa knjigovođom ili priprema dokumentacije?\"\n\nUlaz: \"Treba mi potvrda\"  \nIzlaz: \"Molim Vas da precizirate o kojoj potvrdi je reč i za koji period?\"\n\nUlaz: \"Porezi me zanimaju\"  \nIzlaz: \"Molim Vas da navedete na koje poreze ili situaciju mislite?\"\n\nUlaz: \"Izračunaj platu\"\nIzlaz: \"Molim vas, precizirajte iznos fonda zarada\"\n---\n\n### ЧТО НЕЛЬЗЯ ДЕЛАТЬ:\n\n- НЕ ОПРЕДЕЛЯЙ КАТЕГОРИЮ  \n- НЕ ДАВАЙ СОВЕТОВ И ОТВЕТОВ  \n- НЕ ПРЕДЛАГАЙ КОНСУЛЬТАЦИЮ  \n- НЕ ДОБАВЛЯЙ ЛИШНИХ ПРЕДЛОЖЕНИЙ  \n- НЕ СМЕНЯЙ ЯЗЫК  \n\n---\n\n### ФОРМАТ ВЫХОДА:\nТолько один уточняющий вопрос на языке пользователя.\n</system_message>\n",
          "maxIterations": 2
        }
      },
      "id": "1ac9cf4b-79b4-4480-bb3a-365162e35d69",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3664,
        2144
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0327f6e8-22f7-4237-b460-db5c0b5bd428",
              "leftValue": "={{ $('Get TgId').item.json.tg_id }}",
              "rightValue": 5165497202,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        1712
      ],
      "id": "2380f267-a704-4098-87bb-ecea87eb6699",
      "name": "Это бухгалтер?"
    },
    {
      "parameters": {
        "jsCode": "const telegramData = $items(\"Start\", 0)[0].json;\nlet message = telegramData.message;\n\nreturn [{ message }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        1552
      ],
      "id": "f64facbc-fdb7-4f4d-b47c-681819095224",
      "name": "Giving Telegram message"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3248,
        1968
      ],
      "id": "d7166c0e-8df4-441d-bb8c-66f4864ddeb9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8GJ4MWS1pYGJYmuS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3616,
        2432
      ],
      "id": "d48557b3-2c03-4a85-ae5d-f656af0e2081",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "8GJ4MWS1pYGJYmuS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $items(\"Start\", 0)[0].json.message;\nconst person = $items(\"Get person\", 0)[0].json;\nreturn {\n  // tg_id: tgId,\n  person: person,\n  message: message\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        2272
      ],
      "id": "8c9bfb7e-9fbe-4eef-8672-847818daa203",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3fM198xces3xqdT1",
          "mode": "list",
          "cachedResultUrl": "/workflow/3fM198xces3xqdT1",
          "cachedResultName": "Buhgalteria_Anketa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2448,
        2272
      ],
      "id": "9e3d470a-9d21-4898-a3cb-28b7a7f00b95",
      "name": "Call 'Buhgalteria_Anketa'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcadc07a-ae10-4bf7-a332-983ffe98da99",
              "leftValue": "={{ $json.message.ended }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2656,
        2272
      ],
      "id": "fa2678b2-8426-40f2-9618-734a804dd68e",
      "name": "If anketa ended"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3952,
        2144
      ],
      "id": "ae3fb5e7-b340-4edb-9e84-112daf978df3",
      "name": "Уточняющий вопрос",
      "webhookId": "655f4b99-f6dc-4a39-ad66-d0adb9f29f6a",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $('Transform and summarise').item.json.output.category }} \n{{ $('Transform and summarise').item.json.output.summary }} \n{{ $('Transform and summarise').item.json.output['original request'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4576,
        1968
      ],
      "id": "c7ac5858-123c-4160-979b-414e2bec5a9e",
      "name": "Send a text message1",
      "webhookId": "5ab43b03-d0c6-4f19-9558-ed5195a0035a",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $('Start').item.json.message.from.language_code  === 'ru' ? \"Обратите внимание: консультация бухгалтера платная. Продолжим?\" : \"Obratite pažnju: konsultacija računovođe je plaćena. Da nastavimo?\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Start').item.json.message.from.language_code  === 'ru' ? \"ДА\" : \"JESTE\" }}",
                    "additionalFields": {
                      "callback_data": "consultation_yes"
                    }
                  },
                  {
                    "text": "={{ $('Start').item.json.message.from.language_code  === 'ru' ? \"НЕТ\" : \"NE\" }}",
                    "additionalFields": {
                      "callback_data": "consultation_no"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4576,
        1744
      ],
      "id": "ff6a7eb9-4f53-40a8-8cf1-412337725564",
      "name": "Send a text message2",
      "webhookId": "2ed1b42b-d920-4acd-9dda-2c643a257255",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $('Transform and summarise').item.json.output.category }} \n{{ $('Transform and summarise').item.json.output.summary }} \n{{ $('Transform and summarise').item.json.output['original request'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4208,
        1600
      ],
      "id": "127fdcb7-b25a-49c2-989c-bba5e97c0b32",
      "name": "Send a text message3",
      "webhookId": "5ab43b03-d0c6-4f19-9558-ed5195a0035a",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработка кнопок",
        "height": 352,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        1952
      ],
      "typeVersion": 1,
      "id": "1e9246aa-0121-4a05-a708-21df88106851",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "theKPw02Q3OQKIWD",
          "mode": "list",
          "cachedResultUrl": "/workflow/theKPw02Q3OQKIWD",
          "cachedResultName": "Buhgalterija_consultation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2224,
        2096
      ],
      "id": "3e2f5607-cc28-4aa9-9b99-34de1b7b1cc5",
      "name": "Call 'Buhgalterija_consultation'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2604deb-8a70-4288-8759-bc0ff28a61ba",
              "leftValue": "={{ $('Get TgId').item.json.type }}",
              "rightValue": "callback",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        1728
      ],
      "id": "6f00496f-4ae5-4ece-8a27-e4e03604ae48",
      "name": "If it is not callback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d44bfb0a-f5d1-477b-b370-ece9ac5c5eba",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        1760
      ],
      "id": "4f4279b3-bab5-441f-975d-ec83692854a6",
      "name": "If it is not event request"
    },
    {
      "parameters": {
        "jsCode": "const message = $items(\"Start\", 0)[0].json.message;\nreturn {\n  user_id: $json.chat_id,\n  chat_id: $json.chat_id,\n  lang: message.from.language_code,\n  text: $json.text\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1936
      ],
      "id": "4c2ed7e7-fef3-4a50-9a36-d09d10615184",
      "name": "Prepare to booking"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.callback_query.message.chat.id }}",
        "text": "={{ $('Start').item.json.message.from.language_code === 'ru' ? \"Вы отменили запись на консультацию. Я еще чем-то могу вам помочь?\" : \"Otkažali ste termin za konsultaciju. Mogu li vam još nečim pomoći?\" }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        2256
      ],
      "id": "e8a96139-a5f7-4369-b2d7-a0850f16456e",
      "name": "Consultation is declined",
      "webhookId": "5f0a2bec-b712-44b2-8420-0a751bb4ef04",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "content": "## Запись на консультацию бухгалтера",
        "height": 544,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        1968
      ],
      "typeVersion": 1,
      "id": "fcdab5bd-67a3-42f2-a409-368c16ddc4b4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-001",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Start').item.json.message.document }}",
              "rightValue": ""
            },
            {
              "id": "condition-002",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Start').item.json.message.photo }}",
              "rightValue": "",
              "combineOperation": "or"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9c224228-04fa-4551-b2b8-8935032e09c7",
      "name": "Check if File/Image",
      "type": "n8n-nodes-base.if",
      "position": [
        -96,
        1728
      ],
      "typeVersion": 2,
      "notes": "Filters messages to process only documents and images"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "fileId",
              "type": "string",
              "value": "={{ $('Start').item.json.message.document?.file_id || $('Start').item.json.message.photo?.slice(-1)[0].file_id }}"
            },
            {
              "id": "assign-002",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Start').item.json.message.document?.file_name || 'image_' + $('Start').item.json.message.date + '.jpg' }}"
            },
            {
              "id": "assign-003",
              "name": "mimeType",
              "type": "string",
              "value": "={{ $('Start').item.json.message.document?.mime_type || 'image/jpeg' }}"
            },
            {
              "id": "assign-004",
              "name": "chatId",
              "type": "number",
              "value": "={{ $('Start').item.json.message.chat.id }}"
            },
            {
              "id": "assign-005",
              "name": "userName",
              "type": "string",
              "value": "={{ $('Start').item.json.message.from.first_name }} {{ $('Start').item.json.message.from.last_name || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e983b9b6-918e-4d0d-a735-3f81c7b20fdd",
      "name": "Extract File Metadata",
      "type": "n8n-nodes-base.set",
      "position": [
        992,
        992
      ],
      "typeVersion": 3.3,
      "notes": "Extracts file ID, name, type and user info for processing"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Extract File Metadata').item.json.fileId }}",
        "additionalFields": {}
      },
      "id": "1ce3651f-bbc5-4df2-a719-0d2be7a86f70",
      "name": "Download File from Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1936,
        976
      ],
      "webhookId": "2d85c25f-c520-4504-a788-2ed08dfce7aa",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      },
      "notes": "Downloads the actual file content from Telegram servers"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.from.id }}",
        "text": "Error: no person",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        1168
      ],
      "id": "1ab14ab7-4a6d-40a6-a151-7cdf760e10e7",
      "name": "Error - person does not exist",
      "webhookId": "857bcc2d-8b39-4d12-984f-a693c1859007",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "ОБЩИЕ ВОПРОСЫ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5702efcd-b04f-4e03-a7a0-817a0f7b707b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd623d75-a91b-48c0-8606-aecb0a8284b0",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b44c53ce-3cdf-408e-bc21-cd6c6778b70c",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "822de0d6-da10-48c5-aca8-5b21969614ce",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "658e4e10-0a1b-4b75-b6d1-4408c8b9327a",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "РАСЧЕТ ЗАРПЛАТЫ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3600,
        1696
      ],
      "id": "af18d9e9-f695-470b-86bc-f56edcf682db",
      "name": "CategorySwitch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "Будет сделано",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4816,
        2128
      ],
      "id": "f8afbb66-ba73-4458-b067-764c952f3bf1",
      "name": "Send a text message4",
      "webhookId": "5ab43b03-d0c6-4f19-9558-ed5195a0035a",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2256,
        3600
      ],
      "id": "96ccbfd8-4a48-4522-bbe6-156365372ba9",
      "name": "Sets reminders"
    },
    {
      "parameters": {
        "jsCode": "const dates = {\n    '5': 'salary',\n    '12': 'pdv',\n    '15': 'pdv',\n    '20': 'salary',\n}\nconst gap = 2;\nlet now = new Date();\nlet out = [];\nfor (let index in dates) {\n    let nowDate = parseInt(index);\n    now.setDate(nowDate - gap);\n    let day = now.getDay();\n    if (day === 0) {\n        now.setDate(now.getDate() - 2);\n    } else if (day === 6) {\n        now.setDate(now.getDate() - 1);\n    }\n    let year = now.getFullYear();\n    let month = now.getMonth() + 1;\n    if (month < 10) {\n        month = '0' + month;\n    }\n    let date = now.getDate();\n    if (date < 10) {\n        date = '0' + date;\n    }\n    let nowStr = year + '-' + month + '-' + date;\n    out[out.length] = {\n        date: nowStr,\n        type: dates[index]\n    };\n}\n\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        3600
      ],
      "id": "75b6f813-e481-4264-8bce-f818cd72418e",
      "name": "Reminders calculation"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "DH4mfdmPnO0IsAqs",
          "mode": "list",
          "cachedResultName": "reminders",
          "cachedResultUrl": "/projects/aRzaVNlTJqENQE2K/datatables/DH4mfdmPnO0IsAqs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.TG_ID }}",
            "date": "={{ $('Reminders calculation').item.json.date }}",
            "type": "={{ $('Reminders calculation').item.json.type }}",
            "status": "todo",
            "repeated": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "repeated",
              "displayName": "repeated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1584,
        3600
      ],
      "id": "05d26324-7709-4daf-9e42-afb745187938",
      "name": "Insert reminder"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JSO7sz7L8ojTsLNh",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "/projects/aRzaVNlTJqENQE2K/datatables/JSO7sz7L8ojTsLNh"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1840,
        3600
      ],
      "id": "e0519a48-13be-4187-add5-e179db8b257c",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "344b3790-02ce-494a-a4d5-b242a8f2e0af",
                    "leftValue": "={{ $('Start').item.json.callback_query.data }}",
                    "rightValue": "consultation_yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "95654b87-ed8c-478f-b050-0aaee2ad6d95",
                    "leftValue": "={{ $('Start').item.json.callback_query.data }}",
                    "rightValue": "consultation_no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -592,
        2032
      ],
      "id": "830f85c3-4bf7-4693-aa76-31fc8cb1acfc",
      "name": "ButtonSwitch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $('Start').item.json.message.from.language_code === 'ru' ? 'Я бот-помощник бухгалтерского агентства.\\nЯ могу:\\n    - ответить по общим вопросам;\\n    - записать вас на консультацию к бухгалтеру;\\n    - принять отчетную документацию;\\n    - помочь подать информацию на расчет зарплаты.\\nВы можете общаться со мной текстовыми и голосовыми сообщениями.\\n\\n<b>Чем я сейчас могу вам помочь?</b>' : 'Ja sam bot-pomoćnik računovodstvene agencije.\\nMogu da:\\n    - odgovorim na opšta pitanja;\\n    - zakažem vam konsultaciju kod računovođe;\\n    - primim vašu izveštajnu dokumentaciju;\\n    - pomognem da podnesete informacije za obračun plate.\\nMožete da komunicirate sa mnom tekstualnim i glasovnim porukama.\\n\\n<b>Kako vam sada mogu pomoći?</b>\\n' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2880,
        1968
      ],
      "id": "a36b2aaa-1835-4e2a-a561-4011985c15b4",
      "name": "Greetings",
      "webhookId": "5c76237d-62da-4daf-af93-d3e5ac0b40f1",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7aec5baa-ef46-49a3-911a-bab2d7672452",
              "leftValue": "={{ $json.text }}",
              "rightValue": "=/start",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        1760
      ],
      "id": "bdd7be47-3f2d-43c6-a787-e7dde61b443c",
      "name": "If not start"
    },
    {
      "parameters": {
        "content": "## Запись на консультацию бухгалтера",
        "height": 208,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        1696
      ],
      "typeVersion": 1,
      "id": "814f7c92-758b-4ac4-ade9-efcc20123f83",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Приглашение к загрузке файлов документов\n",
        "height": 192,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        1920
      ],
      "typeVersion": 1,
      "id": "b6f19265-4f73-4313-b6ae-7d89ad1fbe3a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Cron для автоназначения напоминаний",
        "height": 352,
        "width": 1072,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2352,
        3456
      ],
      "typeVersion": 1,
      "id": "e862149e-a713-4f0b-b63c-499c45e1af05",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": { \"type\": \"string\" },\n    \"date\": { \"type\": \"string\" },\n    \"message\": { \"type\": \"string\" },\n    \"original\": { \"type\": \"string\" }\n  },\n  \"required\": [\"message\"]\n}\n"
      },
      "id": "62d5e519-6f71-4923-ab8a-e4a08892fe12",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -672,
        208
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ ($('Start').item.json.message.from.language_code === 'ru' ? '✅ Напоминание записал: ' : '✅ Zapisao sam podsetnik') + $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "afd9e537-b91c-4348-bbc2-aa1c7201b18d",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        608,
        0
      ],
      "webhookId": "f7ff7bbe-9940-4bfe-9f25-dd3a61735ce9",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ТЫ — МАШИНА ДЛЯ ИЗВЛЕЧЕНИЯ СТРУКТУРИРОВАННОЙ ИНФОРМАЦИИ. ТВОЯ ЗАДАЧА — ПРОЧИТАТЬ СООБЩЕНИЕ ПОЛЬЗОВАТЕЛЯ И ВЫДАТЬ  ОБЪЕКТ С ЧЕТЫРЬМЯ КЛЮЧАМИ, СООТВЕТСТВУЮЩИМИ СХЕМЕ:\n\n{\n    \"company\": \"Company\",\n    \"date\": \"date\",\n    \"message\": \"reminder\",\n    \"original\": \"Original message\"\n}\n\n### ПРАВИЛА:\n\n1. ПАРСЬ ТОЛЬКО ПЕРВОЕ УПОМИНАНИЕ КОМПАНИИ В СООБЩЕНИИ И ВНЕСИ ЕЁ В ПОЛЕ \"company\"\n2. ИЗВЛЕКАЙ ПЕРВУЮ УКАЗАННУЮ ДАТУ И ВСТАВЛЯЙ ЕЁ В ПОЛЕ \"date\" В ФОРМАТЕ YYYY-MM-DD, ВКЛЮЧАЯ ГОД. ЕСЛИ МЕСЯЦ ИЛИ ГОД НЕ УКАЗАН В СООБЩЕНИИ, ВОЗЬМИ ТЕКУЩИЙ ГОД И МЕСЯЦ ИЗ currentdate И ИСПОЛЬЗУЙ ИХ\n3. ВСЁ ОСТАВШЕЕСЯ СООБЩЕНИЕ (ПОЛНОСТЬЮ ИЛИ СОКРАЩЁННО) ЗАНОСИ В ПОЛЕ \"message\"\n4. НЕ ДОБАВЛЯЙ ДОПОЛНИТЕЛЬНЫХ ПОЛЕЙ, НЕ ПИШИ РАЗМЕТКУ, НЕ ОБЪЯСНЯЙ СВОЙ ВЫВОД\n5. ЕСЛИ ДАТА ИЛИ КОМПАНИЯ ОТСУТСТВУЮТ — ПОЛЕ ДОЛЖНО СОДЕРЖАТЬ ПУСТУЮ СТРОКУ \"\"\n6. ПОЛЕ original СОДЕРЖИТ ОРИГИНАЛЬНОЕ СООБЩЕНИЕ, А ПОЛЕ message СОДЕРЖИТ SUMMARY СООБЩЕНИЯ\n\n### ПРИМЕРЫ ОТВЕТА:\n#### ПРИМЕР 1\n{\n  \"company\": \"Яндекс\",\n  \"date\": \"2025-11-25\",\n  \"message\": \"У Яндекса изменились условия использования сервиса, и вам нужно подтвердить согласие в течение недели\",\n  \"original\": \"Вчера, 25 ноября 2025 года, я получил письмо от компании Яндекс. Они написали, что изменились условия использования сервиса, и мне нужно подтвердить согласие в течение недели.\"\n}\n#### ПРИМЕР 2\n{\n  \"company\": \"Рога\",\n  \"date\": \"2025-11-30\",\n  \"message\": \"тридцатого будет конец месяца\",\n  \"original\": \"Напомни компании Рога, что тридцатого будет конец месяца.\"\n}\n###ЧЕГО НЕ ДЕЛАТЬ###\n\nНЕ ИЗМЕНЯЙ СХЕМУ\nНЕ ИЗМЕНЯЙ ТЕКСТ СООБЩЕНИЯ — СОХРАНЯЙ ЕГО ПОЛНОСТЬЮ, КАК ОН ЕСТЬ\n"
        }
      },
      "id": "cdd83484-e5b8-4a29-8ba0-358423bf7020",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -880,
        16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -944,
        192
      ],
      "id": "7a1e3100-01fc-4e93-bf23-219e00d6f592",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "8GJ4MWS1pYGJYmuS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.callback_query.message.text }}",
                    "rightValue": "reminder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "78f2b5d9-d4ba-4ebd-95e7-02a340aece3a"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -992,
        400
      ],
      "id": "e62450af-1073-437f-83f6-3d927ff4a5ac",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "535f2b34-2e91-4f65-9fc6-2d2d00680eac",
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        32
      ],
      "id": "2a2b2bad-e036-4a5f-866e-0b008a0d3b5d",
      "name": "If it is not callback2"
    },
    {
      "parameters": {
        "jsCode": "const telegramData = $items(\"Start\", 0)[0].json;\nlet message = telegramData.message;\n\nreturn [{ message }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        16
      ],
      "id": "8560aec8-fa2b-415a-bb95-e0199cc3cfe8",
      "name": "Giving Telegram message1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rcn9qJd4BpglAMjf",
          "mode": "list",
          "cachedResultUrl": "/workflow/rcn9qJd4BpglAMjf",
          "cachedResultName": "Buhgalterija_Transcribator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1168,
        16
      ],
      "id": "1f6b29b4-982c-421c-ac9f-e34d08d58063",
      "name": "Call 'Buhalterija_Transcribator'1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd3e5bcc-ff36-4a05-a29d-0adc4bd1254c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        16
      ],
      "id": "517b8c09-c3ff-4627-a95d-f7aa3d2abc49",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -768,
        224
      ],
      "id": "41a6a287-1bca-4b45-a365-bde97d1a6e7a",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "Компании с таким названием я не нашел. Пожалуйста, повторите попытку",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        256
      ],
      "id": "ea08ab4a-ea7b-4a72-ae7c-f66727c03a11",
      "name": "Company not found",
      "webhookId": "93c25295-5bd1-411b-a000-850640d98735",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "274776de-c861-4ae9-927b-78bc46ee924d",
              "name": "tg_id",
              "value": "={{ $('Get company').item.json.TG_ID }}",
              "type": "string"
            },
            {
              "id": "dcaa82ad-30e9-4500-a925-13e11921d459",
              "name": "output.date",
              "value": "={{ $('AI Agent1').item.json.output.date }}",
              "type": "string"
            },
            {
              "id": "66f051fa-3d64-46b5-aee5-75fb7288ad2a",
              "name": "output.message",
              "value": "={{ $('AI Agent1').item.json.output.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "faf449fe-f4c8-49b0-b5d3-a10932b2a93e",
      "name": "Prepare to insert reminder"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rcn9qJd4BpglAMjf",
          "mode": "list",
          "cachedResultUrl": "/workflow/rcn9qJd4BpglAMjf",
          "cachedResultName": "Buhgalterija_Transcribator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1296,
        1840
      ],
      "id": "86b82dfe-2434-444a-b929-3434a52e6e37",
      "name": "Call 'Buhalterija_Transcribator'2"
    },
    {
      "parameters": {
        "jsCode": "const telegramData = $items(\"Start\", 0)[0].json;\nlet message = telegramData.message;\n\nreturn [{ message }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1824
      ],
      "id": "76861408-cbc5-40c2-82c1-ec4e751f2d85",
      "name": "Giving Telegram message2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM steps WHERE tg_id = {{ $('Get TgId').item.json.tg_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        1760
      ],
      "id": "45c0cb7d-aecf-46e2-bb19-dd276f1828df",
      "name": "COUNT(steps)",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cee841d9-6e5e-48dc-89a7-427e66505e0c",
              "leftValue": "={{ $json.company_id }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8cf19ab6-e26b-4e76-b9fa-51d367d775b8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        1536
      ],
      "id": "c1369a81-1342-4400-b279-b2470afed791",
      "name": "If company is filled in"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Get TgId').item.json.tg_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        1536
      ],
      "id": "e26ec391-1308-484c-81f2-7faae4a9c627",
      "name": "Select customer",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55416aa1-266d-412a-b6cd-9845b1352c08",
              "name": "person",
              "value": "={{ $('Select customer').item.json }}",
              "type": "string"
            },
            {
              "id": "0413ac82-b03f-4db7-bb2a-cd02bbc04f42",
              "name": "message",
              "value": "={{ $('Start').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        2272
      ],
      "id": "5b6b6d32-dd85-4ef1-ae84-27e5d825d6cd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('task_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4496,
        2128
      ],
      "id": "995879a6-eb08-4fb6-91be-4985d4fe1950",
      "name": "Task next id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "due_date": "={{ $('Fields for a new task').item.json.completion_date }}",
            "id": "={{ $json.nextval }}",
            "category": "={{ $('Fields for a new task').item.json.category }}",
            "request": "={{ $('Fields for a new task').item.json.request }}",
            "status": "={{ $('Fields for a new task').item.json.status }}",
            "company_id": "={{ $('Select customer').item.json.company_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4656,
        2128
      ],
      "id": "66d36dcf-8d97-4a05-96a6-1032539d333a",
      "name": "Insert task",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let now = new Date();\nif (now.getDate() < 5) {\n  now.setDate(5);\n} else if (now.getDate() < 20) {\n  now.setDate(20);\n} else {\n  now.setMonth(now.getMonth() + 1);\n  now.setDate(5);\n}\nlet day = now.getDate();\nlet month = now.getMonth() + 1;\nlet year = now.getFullYear();\nlet dayS = day > 9 ? '' + day : '0' + day;\nlet monthS = month > 9 ? '' + month : '0' + month;\nlet out = {\n  tg_id: $('Start').item.json.message.from.id,\n  category: $('Transform and summarise').item.json.output.category,\n  request: $('Start').item.json.message.text,\n  completion_date: year + '-' + monthS + '-' + dayS,\n  status: 'new'\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        2128
      ],
      "id": "dddcd9c5-553e-4a3a-9e70-5fae01499f45",
      "name": "Fields for a new task"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get TgId').item.json.tg_id }}",
        "text": "Загрузите регистрационные документы",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        1360
      ],
      "id": "13ba3e3e-7132-43a7-8015-ac1e7289bb51",
      "name": "Send a text message5",
      "webhookId": "d1aef853-e061-4243-bba8-f35fdb330a2c",
      "credentials": {
        "telegramApi": {
          "id": "oeQncZosC51H5lEc",
          "name": "acworkBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let tgId = $input.first().json.callback_query?.message?.from?.id ?? $input.first().json.message?.from?.id;\nlet chatId = $input.first().json.message?.chat?.id ?? $input.first().json.callback_query?.message?.chat?.id;\nlet text = $input.first().json.message?.text ?? $input.first().json.callback_query?.data ?? '';\nlet type = 'message';\nif ($input.first().json.callback_query) {\n  type = 'callback';\n}\nif ($input.first().json.message?.photo) {\n  type = 'photo';\n}\nif ($input.first().json.message?.document) {\n  type = 'document';\n}\nlet user;\nswitch (type) {\n  case 'message':\n  case 'photo':\n  case 'document':\n    user = {\n      first_name: $input.first().json.message.from.first_name,\n      last_name: $input.first().json.message.from.last_name,\n      username: $input.first().json.message.from.username,\n      lang: $input.first().json.message.from.language_code\n    };\n    break;\n  case 'callback':\n    user = {\n      first_name: $input.first().json.callback_query.message.from.first_name,\n      last_name: $input.first().json.callback_query.message.from.last_name,\n      username: $input.first().json.callback_query.message.from.username,\n      lang: $input.first().json.callback_query.message.from.language_code\n    };\n}\nreturn {\n  tg_id:  tgId,\n  chat_id: chatId,\n  text: text,\n  type: type,\n  user: user\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        1712
      ],
      "id": "8611652f-54ea-400a-9626-0c43bb4b75c4",
      "name": "Get TgId"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query",
          "edited_message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2464,
        1712
      ],
      "id": "940907aa-6f3e-4194-98b3-1cb64dffa242",
      "name": "Start",
      "webhookId": "0853a2a2-a7f0-4a5f-a37e-2df066cde315",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM customer WHERE tg_id = {{ $('Start').item.json.message.chat.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        976
      ],
      "id": "c15dba6a-fc50-4537-b710-8d620a92e53a",
      "name": "COUNT(customer)1",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00a2f70c-a16e-49d4-90c6-c539e8d8f4a9",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        976
      ],
      "id": "3abe9b3e-ca9b-40fb-ae15-9092152299f8",
      "name": "If customer exists1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Start').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1616,
        976
      ],
      "id": "ad124165-fe36-4b14-a7e7-00d7cd1e3903",
      "name": "Select customer1",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('documents_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        976
      ],
      "id": "71e3f2dd-2fd7-4f82-ba37-fce01a1ef92f",
      "name": "Next document id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2288,
        976
      ],
      "id": "e376b30a-c1df-4de8-9564-c48bb6d43f2b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Select customer1').item.json.id }}",
            "status": "loaded"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "create_at",
              "displayName": "create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "update_at",
              "displayName": "update_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3088,
        960
      ],
      "id": "9af07591-5ef5-4bf1-881c-fd8e474ea227",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4828986d-17d6-42b5-9ed4-dc75fbc79e12",
              "leftValue": "={{ $('Select customer1').item.json.status }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2880,
        976
      ],
      "id": "8cf6e0f6-ccc0-4126-b6f6-8988a1af8e40",
      "name": "If customer is new"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('steps_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        2096
      ],
      "id": "5b09c1eb-6e86-4fc3-9743-cdb71ffc0bd4",
      "name": "Next step id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "steps",
          "mode": "list",
          "cachedResultName": "steps"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "event",
            "step": "topic",
            "id": "={{ $json.nextval }}",
            "tg_id": "={{ $('Get TgId').item.json.tg_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        2096
      ],
      "id": "44aab727-db5b-40d1-a5b1-945b95ac0abd",
      "name": "Insert step",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const callback_query = $items(\"Start\", 0)[0].json.callback_query;\nreturn {\n  user_id: callback_query.message.from.id,\n  chat_id: callback_query.message.chat.id,\n  lang: callback_query.from.language_code,\n  text: ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        2096
      ],
      "id": "61b7bd4b-dd9d-4769-9151-19c2c3152355",
      "name": "Prepare to booking2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "company",
          "mode": "list",
          "cachedResultName": "company"
        },
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('AI Agent1').item.json.company }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        16
      ],
      "id": "b1595f39-1655-404b-99b1-2690276d248d",
      "name": "Seek a company by the name",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('reminder_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "7e692160-ffd0-4140-a755-34dc7aff3500",
      "name": "Next reminder id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reminder",
          "mode": "list",
          "cachedResultName": "reminder"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.nextval }}",
            "company_id": "={{ $('Seek a company by the name').item.json.id }}",
            "template_id": 0,
            "send_date": "={{ $json.output.date }}",
            "type": "manual",
            "message": "={{ $json.output.message }}",
            "status": "new"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "template_id",
              "displayName": "template_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_date",
              "displayName": "send_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_at",
              "displayName": "create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "update_at",
              "displayName": "update_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        0
      ],
      "id": "9d366484-04e4-4daa-a129-dd240f4acd89",
      "name": "Insert reminder1",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Загрузка документов",
        "height": 448,
        "width": 2048
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        912
      ],
      "typeVersion": 1,
      "id": "0b3d69d2-78bf-4f0e-966e-e1b61a8a4242",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tSGDpQI6hJjFvnp",
          "mode": "list",
          "cachedResultUrl": "/workflow/4tSGDpQI6hJjFvnp",
          "cachedResultName": "Buhgalterija_Transcribator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2224,
        1760
      ],
      "id": "6b044ccd-d6bf-4a8f-a713-42c25052445e",
      "name": "Call 'Buhgalterija_Transcribator'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO documents (id, metadata, tg_id, company_id, content, filename, mimetype, type_id, status)\nVALUES (\n  {{ $('Next document id').item.json.nextval }},\n  '{{ JSON.stringify($('Extract File Metadata').item.json) }}',\n  {{ $('Select customer1').item.json.tg_id }}, -- Исправлено: берем из Select customer1, так как Get TgId может отсутствовать\n  {{ $('Select customer1').item.json.company_id }},\n  decode('{{ $json.file }}', 'base64'),\n  '{{ $('Extract File Metadata').item.json.fileName }}',\n  '{{ $('Extract File Metadata').item.json.mimeType }}',\n  1,\n  'uploaded'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2576,
        976
      ],
      "id": "c55ed438-c883-417a-a8a8-fc66265c016d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get TgId').item.json.tg_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -208,
        2976
      ],
      "id": "033b427d-15f1-40f9-9415-e65beb24413f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        2976
      ],
      "id": "97293ede-78ca-48be-9e7b-0e6c1c83e9d5",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "8GJ4MWS1pYGJYmuS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM passed_by WHERE tg_id = {{ $('Get TgId').item.json.tg_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1296,
        1920
      ],
      "id": "27df3645-0a25-45b6-8187-dd121ad68f7d",
      "name": "COUNT(passedBy)",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00a2f70c-a16e-49d4-90c6-c539e8d8f4a9",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        2192
      ],
      "id": "e1b2b9d2-992a-4d43-b892-98dcebff0357",
      "name": "If passedBy exists"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "passed_by",
          "mode": "list",
          "cachedResultName": "passed_by"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.nextval }}",
            "firstname": "={{ $('Get TgId').item.json.user.first_name }}",
            "lastname": "={{ $('Get TgId').item.json.user.last_name }}",
            "username": "={{ $('Get TgId').item.json.user.username }}",
            "status": "new",
            "tg_id": "={{ $('Get TgId').item.json.tg_id }}",
            "lang": "={{ $('Get TgId').item.json.user.lang }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -768,
        2752
      ],
      "id": "2d3b460c-878f-4886-965c-cc7ee2a12520",
      "name": "Insert passedBy",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('passed_by_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        2752
      ],
      "id": "b6f87a73-5962-455f-98b9-da248f40f62d",
      "name": "PassedBy next id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM customer WHERE tg_id = {{ $('Get TgId').item.json.tg_id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1744,
        1712
      ],
      "id": "c9258c2a-c1d3-4265-819c-8daabf6027a5",
      "name": "COUNT(customer)",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00a2f70c-a16e-49d4-90c6-c539e8d8f4a9",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        1712
      ],
      "id": "9800bd7f-fcd1-431a-9e24-59eb90a9eedf",
      "name": "If customer exists"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get TgId').item.json.chat_id }}",
        "text": "={{ $('AI Agent output formatter').item.json.aiReplica }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        2912
      ],
      "id": "d5022374-ef47-4387-9262-aac6354de6cd",
      "name": "Send a text message6",
      "webhookId": "0b3f7024-5274-4b3c-b199-705f786fc047",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f628aa57-828f-41f9-ae00-159e31012316",
              "leftValue": "={{ $('AI Agent output formatter').item.json.summary }}",
              "rightValue": "[Internal Summary]",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        2720
      ],
      "id": "2228d20a-2e99-4e56-80bb-d9161f10c3b7",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "passed_by",
          "mode": "list",
          "cachedResultName": "passed_by"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Get TgId').item.json.tg_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        2720
      ],
      "id": "3ee3b1e8-2e55-4b5b-b82d-371e72ed22d3",
      "name": "Get passedBy",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "passed_by",
          "mode": "list",
          "cachedResultName": "passed_by"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get passedBy').item.json.id }}",
            "status": "transferred",
            "summary": "={{ $('AI Agent output formatter').item.json.summary }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dialog",
              "displayName": "dialog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        2624
      ],
      "id": "3430661f-7f81-4e9f-a998-6956bace7160",
      "name": "Update passedBy status",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5165497202",
        "text": "={{ $('AI Agent output formatter').item.json.summary }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        2624
      ],
      "id": "c31e6a24-a37c-40a8-80fc-c9df565cbc78",
      "name": "Summary for accountant",
      "webhookId": "37ef8164-fdff-4c54-918e-338541badc66",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Get TgId').item.json.tg_id }}",
        "text": "Я передал вашу заявку специалистам, с вами свяжутся.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1536,
        2624
      ],
      "id": "7e114e86-3071-4087-be1e-2446b4def2de",
      "name": "Final message",
      "webhookId": "ca662218-18dd-494c-80e6-149b3aa8e3ed",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "passed_by",
          "mode": "list",
          "cachedResultName": "passed_by"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get passedBy').item.json.id }}",
            "dialog": "={{ $json.dialog }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dialog",
              "displayName": "dialog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        2720
      ],
      "id": "585d81a4-1677-4f45-9b53-0ece9ba7a59f",
      "name": "Update passedBy dialog",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get TgId').item.json.text }}",
        "options": {
          "systemMessage": "=<system_prompt>\nYOU ARE THE ADMINISTRATOR OF A SERBIAN ACCOUNTING AND MIGRATION AGENCY. YOU ARE INTELLIGENT, PRECISE, AND PROFESSIONAL.\n\n###CORE PROTOCOL###\n\n1.  **STRICT FORMATTING:**\n    * **NO MARKDOWN:** Do not use `**`, `__`, or `##`.\n    * **HTML ONLY:** Use <b>text</b> for data points and <i>text</i> for polite emphasis.\n\n2.  **NO CONTACT COLLECTION:**\n    * **NEVER** ask the user for their phone number, email, or Telegram handle.\n    * Assume the system automatically identifies the user.\n    * When handing over, simply say: \"Our specialist will contact you <b>here</b>.\"\n\n3.  **THE \"SMART ANALYST\" LOGIC:**\n    * Your goal is to gather the **Checklist Details**.\n    * **RULE OF EFFICIENCY:** Before asking ANY question, check the user's input.\n    * **CASE A: Data Complete (One-Shot):** If the user *already* provided all necessary details -> **DO NOT ASK QUESTIONS.** Confirm receipt and GENERATE `[Internal Summary]` immediately.\n    * **CASE B: Data Missing:** If specific Checklist items are missing -> Ask clarifying questions to fill the gaps.\n    * **CASE C: General Questions:** Answer directly (Hours, Address).\n\n4.  **KNOWLEDGE BASE:**\n    * **Address:** Braće Ribnikar 1, Novi Sad.\n    * **Hours:** 10:00 - 16:00, Mon-Fri.\n    * **VHJ Rule:** Client **MUST** show proof of funds on a bank account.\n    * **Banking:** EUR is standard. **USD is difficult/slow** (warn if asked).\n    * **Pricing:** You do not know prices. Pricing is individual.\n\n###REQUIRED INFORMATION CHECKLIST (For Handover)###\n\n**A. New Business (IP/DOO):**\n1.  **Citizenship**.\n2.  **Activity** (General area like IT/Trade). *Do not advise on specific Codes.*\n3.  **Stage** (Planning vs. Docs Submitted).\n\n**B. Migration (VHJ / PMJ):**\n1.  **Citizenship**.\n2.  **Basis** (Firm, Property, Family).\n3.  **Status** (In Serbia vs. Abroad).\n\n**C. Services:**\n* **Bank:** Preference? (Warn about USD).\n* **Translation:** Language Pair?\n\n**D. Support / Debts:**\n* **ID:** PIB / Company Name.\n* **Details:** Dates, Amounts, Photos.\n\n###CHAIN OF THOUGHTS###\n\n1.  **ANALYZE INPUT:** Scan the user's text.\n2.  **CHECK COMPLETENESS:**\n    * *Does the text ALREADY contain all Checklist items?*\n    * **YES** -> STOP questioning. Proceed to **OUTPUT (Handover)**.\n    * **NO** -> Identify missing items. Proceed to **OUTPUT (Question)**.\n    * *Is it a Price request?* -> **HANDOVER**.\n3.  **FORMULATE RESPONSE:**\n    * If Complete: Acknowledge data + State that accountant will reply here + Generate Summary.\n    * If Incomplete: Ask polite questions for missing bits only.\n\n###WHAT NOT TO DO###\n\n-   **NEVER** ask for contact info (Phone/Email/Username).\n-   **NEVER** ask for information the user has already provided.\n-   **NEVER** use Markdown.\n\n###FORMATTING THE OUTPUT###\n\n**Scenario 1: Asking Questions (Data Incomplete)**\n(Response in HTML)\n\n**Scenario 2: Final Handover (Data Complete)**\n(Response in HTML)\n\n[SEPARATOR]\n\n[Internal Summary]\n<b>Язык клиента:</b> (RU / EN / RS)\n<b>Статус:</b> (ГОТОВ К РАБОТЕ)\n<b>Тема:</b> (Регистрация / ВНЖ / Адрес / Цены)\n<b>Суть запроса:</b> (Summary in RUSSIAN)\n<b>Собранные данные:</b> (Detailed Checklist in RUSSIAN)\n\n###FEW-SHOT EXAMPLES###\n\n**User (Russian):** \"Добрый день! Я гражданин РФ, нахожусь в Нови Саде, хочу открыть ИП для программирования. Документы еще не подавал, нужна помощь.\"\n**Agent (Thinking: Data Complete (Citizenship=RF, Activity=IT, Stage=Planning). Action: Immediate Handover):**\n\"Добрый день! Рады приветствовать вас в Нови Саде.\nОтлично, что вы обратились к нам на этапе планирования. Для IT-специалистов из РФ у нас отработанный процесс.\nЯ передал все ваши данные (гражданство, сфера IT) нашему бухгалтеру. Он свяжется с вами <b>здесь</b> в ближайшее время для старта работы.\"\n\n[SEPARATOR]\n\n[Internal Summary]\n<b>Язык клиента:</b> RU\n<b>Статус:</b> ГОТОВ К РАБОТЕ\n<b>Тема:</b> Регистрация ИП\n<b>Суть запроса:</b> Открытие ИП для программиста.\n<b>Собранные данные:</b> Гражданство РФ. Деятельность: Программирование (IT). Стадия: Планирование (в Нови Саде).\n\n---\n\n**User (Serbian/RS):** \"Treba mi pomoć oko otvaranja firme.\"\n**Agent (Thinking: Missing Activity & Stage. Action: Ask):**\n\"Pozdrav! Tu smo da pomognemo.\nDa bismo znali koja procedura vam je potrebna, recite nam:\n1. Čime planirate da se bavite (delatnost)?\n2. Da li ste već u procesu registracije ili se tek raspitujete?\"\n\n**User:** \"Trgovina odećom. Tek se raspitujem.\"\n**Agent (Thinking: Data Complete. Action: Handover):**\n\"Razumem. Trgovina zahteva specifične korake (kasa, evidencija).\nProsledio sam upit kolegi. Kontaktiraće vas uskoro <b>ovde</b> radi konsultacije.\"\n\n[SEPARATOR]\n\n[Internal Summary]\n<b>Язык клиента:</b> RS\n<b>Статус:</b> ГОТОВ К РАБОТЕ\n<b>Тема:</b> Регистрация фирмы\n<b>Суть запроса:</b> Открытие торговой фирмы.\n<b>Собранные данные:</b> Деятельность: Торговля одеждой. Стадия: Планирование.\n</system_prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -336,
        2720
      ],
      "id": "ebacad4f-08d4-4442-9efe-fd45b501e96f",
      "name": "AI Agent for communication with the new customer"
    },
    {
      "parameters": {
        "jsCode": "const oldDialog = $input.first().json.dialog ? $input.first().json.dialog + '\\n' : '';\nconst userReplica = $('Get TgId').first().json.text + '\\n';\nlet aiReplica = $('AI Agent for communication with the new customer').first().json.output;\nconst aiReplicaSpliced = aiReplica.split('[Internal Summary]');\nlet summary;\nlet tgId = $('Get TgId').first().json.tg_id;\nif (aiReplicaSpliced.length > 1) {\n  aiReplica = aiReplicaSpliced[0];\n  summary = aiReplicaSpliced[1] + '\\n<b>Контакты:</b>\\n<b>Username:</b> @' + $('Get TgId').first().json.user.username + '\\n<b>Telegram ID:</b> ' + tgId.toString() + '\\n<b>Имя:</b> ' + $('Get TgId').first().json.user.first_name + '\\n<b>Фамилия:</b> ' + $('Get TgId').first().json.user.last_name + '\\n';\n}\nconst dialog = oldDialog + '<b>User:</b>' + userReplica + '<b>Bot: </b>' + aiReplica;\nreturn {\n  json: {\n    aiReplica: aiReplica,\n    dialog: dialog,\n    summary: summary\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        2720
      ],
      "id": "63c0e1ac-7911-4178-a944-c9d8bcf6eede",
      "name": "AI Agent output formatter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get TgId').item.json.tg_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -192,
        3072
      ],
      "id": "1aff218a-e715-4805-a048-bb2ef9a4051d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Transform and summarise": {
      "main": [
        [
          {
            "node": "CategorySwitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Уточняющий вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это бухгалтер?": {
      "main": [
        [
          {
            "node": "If it is not callback2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COUNT(customer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Giving Telegram message": {
      "main": [
        [
          {
            "node": "Call 'Buhgalterija_Transcribator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Transform and summarise",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Call 'Buhgalteria_Anketa'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Buhgalteria_Anketa'": {
      "main": [
        [
          {
            "node": "If anketa ended",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it is not callback": {
      "main": [
        [
          {
            "node": "Check if File/Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ButtonSwitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it is not event request": {
      "main": [
        [
          {
            "node": "Select customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Giving Telegram message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare to booking": {
      "main": [
        [
          {
            "node": "Call 'Buhgalterija_consultation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File/Image": {
      "main": [
        [
          {
            "node": "Extract File Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COUNT(steps)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Metadata": {
      "main": [
        [
          {
            "node": "COUNT(customer)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File from Telegram": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CategorySwitch": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fields for a new task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sets reminders": {
      "main": [
        [
          {
            "node": "Reminders calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminders calculation": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Insert reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ButtonSwitch": {
      "main": [
        [
          {
            "node": "Next step id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultation is declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not start": {
      "main": [
        [
          {
            "node": "Transform and summarise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Seek a company by the name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If it is not callback2": {
      "main": [
        [
          {
            "node": "Giving Telegram message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Giving Telegram message1": {
      "main": [
        [
          {
            "node": "Call 'Buhalterija_Transcribator'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Buhalterija_Transcribator'1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare to insert reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Company not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare to insert reminder": {
      "main": [
        [
          {
            "node": "Next reminder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Buhalterija_Transcribator'2": {
      "main": [
        [
          {
            "node": "Prepare to booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Giving Telegram message2": {
      "main": [
        [
          {
            "node": "Call 'Buhalterija_Transcribator'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT(steps)": {
      "main": [
        [
          {
            "node": "If it is not event request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If company is filled in": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Giving Telegram message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select customer": {
      "main": [
        [
          {
            "node": "If company is filled in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task next id": {
      "main": [
        [
          {
            "node": "Insert task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert task": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields for a new task": {
      "main": [
        [
          {
            "node": "Task next id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TgId": {
      "main": [
        [
          {
            "node": "Это бухгалтер?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get TgId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT(customer)1": {
      "main": [
        [
          {
            "node": "If customer exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If customer exists1": {
      "main": [
        [
          {
            "node": "Select customer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - person does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select customer1": {
      "main": [
        [
          {
            "node": "Next document id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next document id": {
      "main": [
        [
          {
            "node": "Download File from Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If customer is new": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next step id": {
      "main": [
        [
          {
            "node": "Insert step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert step": {
      "main": [
        [
          {
            "node": "Prepare to booking2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare to booking2": {
      "main": [
        [
          {
            "node": "Call 'Buhgalterija_consultation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seek a company by the name": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next reminder id": {
      "main": [
        [
          {
            "node": "Insert reminder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert reminder1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Buhgalterija_Transcribator'": {
      "main": [
        [
          {
            "node": "If not start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If customer is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent for communication with the new customer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "COUNT(passedBy)": {
      "main": [
        [
          {
            "node": "If passedBy exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If passedBy exists": {
      "main": [
        [
          {
            "node": "AI Agent for communication with the new customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PassedBy next id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PassedBy next id": {
      "main": [
        [
          {
            "node": "Insert passedBy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert passedBy": {
      "main": [
        [
          {
            "node": "AI Agent for communication with the new customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT(customer)": {
      "main": [
        [
          {
            "node": "If customer exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If customer exists": {
      "main": [
        [
          {
            "node": "If it is not callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COUNT(passedBy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update passedBy status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get passedBy": {
      "main": [
        [
          {
            "node": "AI Agent output formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update passedBy status": {
      "main": [
        [
          {
            "node": "Summary for accountant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary for accountant": {
      "main": [
        [
          {
            "node": "Final message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update passedBy dialog": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent for communication with the new customer": {
      "main": [
        [
          {
            "node": "Get passedBy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent output formatter": {
      "main": [
        [
          {
            "node": "Update passedBy dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent for communication with the new customer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b8abc36-05d3-4282-bfe4-8dfa05a3e3df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed2832199a6c6c3954e6f128ab0e8f74dedac9ab651f2e74dc671a018df750fe"
  },
  "id": "rZ9kDOmeP12TJB3U",
  "tags": []
}