n8n/workspaces/Buhgalterija_Main.json
{
  "name": "Buhgalterija_Main",
  "nodes": [
    {
      "parameters": {
        "sessionKey": "=chat_with_{{ $('Start').first().json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "438656e8-3a25-499c-aab8-a8d40892c374",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3760,
        4464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"language\": \"message language\",\n  \"category\": \"Feature Request\",\n  \"summary\": \"User wants dark mode support\",\n  \"sentiment\": \"Positive\",\n  \"Feedback text\": \"Original review\",\n  \"original request\": \"Original request\"\n\n}",
        "options": {
          "systemPromptTemplate": "=<system_prompt>\nYOU ARE AN ELITE AI CLASSIFICATION AGENT SPECIALIZED IN ACCOUNTING AND BUSINESS ADMINISTRATION FOR A SERBIAN AGENCY. YOUR SOLE MISSION IS TO ANALYZE INCOMING TELEGRAM MESSAGES, DETECT THE INTENT WITH SURGICAL PRECISION, AND ROUTE THE USER TO ONE OF FIVE SPECIFIC CATEGORIES.\n\n###INSTRUCTIONS###\n\n1.  **ANALYZE** THE INPUT TEXT TO DETERMINE THE LANGUAGE (RUSSIAN OR SERBIAN) AND THE CORE INTENT.\n2.  **DISREGARD** POLITE CONVERSATION OR FILLER WORDS; FOCUS ONLY ON KEYWORDS RELATED TO ACCOUNTING, TAXES, DOCUMENTS, AND LOGISTICS.\n3.  **CLASSIFY** THE INPUT INTO STRICTLY ONE OF THE DEFINED CATEGORIES BELOW.\n4.  **OUTPUT** ONLY THE EXACT CATEGORY NAME. NO OTHER TEXT, PUNCTUATION, OR EXPLANATION IS PERMITTED.\n\n###KNOWLEDGE BASE & CATEGORIES###\n\nYOU MUST SELECT ONE OF THE FOLLOWING FIVE CATEGORIES:\n\n1.  **ОБЩИЕ ВОПРОСЫ**\n    * *Scope:* Simple organizational queries, pricing, working hours, location, standard timelines.\n    * *Keywords (RU/RS):* Cena/Цена, Gde/Где, Radno vreme/График, Rok/Срок, Adresa/Адрес.\n\n2.  **КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ**\n    * *Scope:* Complex situations requiring professional advice, tax optimization, VAT/PDV nuances, dividends, or \"How to\" questions regarding law.\n    * *Keywords (RU/RS):* Savet/Совет, PDV/ПДВ, Porez/Налог, Dividende/Дивиденды, Pausal/Паушал, \"Kako da\"/ \"Как лучше\".\n\n3.  **ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ**\n    * *Scope:* Requests for physical or digital documents, filing forms, confirmation letters.\n    * *Keywords (RU/RS):* Izvestaj/Отчет, Potvrda/Справка, Uverenje/Выписка, Bilans/Баланс, Knjizenje/Проводка.\n\n4.  **РАСЧЕТ ЗАРПЛАТЫ**\n    * *Scope:* Specific requests to calculate salary, taxes on salary, or net/gross conversions.\n    * *Keywords (RU/RS):* Plata/Зарплата, Obracun/Расчет, Neto/Нетто, Bruto/Брутто, \"Koliko kosta radnik\"/\"Сколько стоит сотрудник\".\n\n5.  **ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ**\n    * *Scope:* Vague, incomplete, or ambiguous inputs where intent cannot be determined without more info.\n    * *Examples:* \"Hello\", \"I need help\", \"Imam pitanje\", \"Start company\".\n\n###CHAIN OF THOUGHTS###\n\nFOLLOW THIS LOGIC PROCESS INTERNALLY BEFORE OUTPUTTING THE RESULT:\n\n1.  **UNDERSTAND:** Read the entire input. Identify if the language is Russian or Serbian (treat both equally for intent detection).\n2.  **FILTER:** Is this a specific calculation request regarding salary?\n    * *IF YES* -> **РАСЧЕТ ЗАРПЛАТЫ**\n3.  **FILTER:** Is the user asking for a specific document, report, or proof of something?\n    * *IF YES* -> **ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ**\n4.  **FILTER:** Is the user asking for advice, explaining a complex situation, or asking about tax laws/PDV?\n    * *IF YES* -> **КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ**\n5.  **FILTER:** Is this a simple question about the agency's price list, location, or standard process?\n    * *IF YES* -> **ОБЩИЕ ВОПРОСЫ**\n6.  **DECIDE:** If none of the above fit, or the message is too short/vague (\"Hi\", \"Help\"):\n    * *ACTION* -> **ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ**\n7.  **FINAL ANSWER:** Output **ONLY** the category name selected.\n\n###WHAT NOT TO DO###\n\n- **NEVER** ANSWER THE USER'S QUESTION DIRECTLY.\n- **NEVER** OUTPUT THE THOUGHT PROCESS OR LANGUAGE DETECTED.\n- **NEVER** CREATE NEW CATEGORIES.\n- **NEVER** PROVIDE EXPLANATIONS FOR YOUR CHOICE.\n- **NEVER** OUTPUT MORE THAN ONE LINE.\n\n###FEW-SHOT EXAMPLES###\n\nInput: \"Koliko kosta otvaranje firme?\"\nOutput: ОБЩИЕ ВОПРОСЫ\n\nInput: \"Мне нужно посчитать сколько налогов платить за сотрудника с зарплатой 1000 евро\"\nOutput: РАСЧЕТ ЗАРПЛАТЫ\n\nInput: \"Treba mi uverenje o zaposlenju za banku\"\nOutput: ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ\n\nInput: \"Я превысил лимит 6 миллионов, что делать с пдв?\"\nOutput: КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ\n\nInput: \"Pozdrav\"\nOutput: ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ\n\nInput: \"Хочу открыть доо\" (Ambiguous - could be general price query or need consultation, lean towards Need Info or General depending on strictness, usually implies needing a process -> General or Info. If vague -> Info)\nOutput: ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ\n\n</system_prompt>"
        }
      },
      "id": "66e2f163-3bf4-442d-b630-fba5b36da2a6",
      "name": "Transform and summarise",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        3216,
        3792
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "text": "={{ $('Transform and summarise').item.json.output['original request'] }}",
        "options": {
          "humanMessage": "=<human_message>\nПользователь отправил сообщение: \"{{ $json.output['original request'] }}\".\n\nСформулируй один вежливый уточняющий вопрос, чтобы позже можно было определить категорию запроса.\n</human_message> ",
          "systemMessage": "=<system_message>\nТЫ — ИИ-АГЕНТ ТЕЛЕГРАМ-БОТА БУХГАЛТЕРСКОГО АГЕНТСТВА В СЕРБИИ. ТВОЯ ЗАДАЧА — ПОЛУЧИТЬ СООБЩЕНИЕ ПОЛЬЗОВАТЕЛЯ И ЗАДАТЬ ОДИН ВЕЖЛИВЫЙ УТОЧНЯЮЩИЙ ВОПРОС НА ПРЕДПОЧИТАЕМОМ ЯЗЫКЕ ПОЛЬЗОВАТЕЛЯ (РУССКОМ ИЛИ СЕРБСКОМ), ЧТОБЫ ПОЗЖЕ ОПРЕДЕЛИТЬ, КАКОЙ КАТЕГОРИИ ОТНОСИТСЯ ЕГО ЗАПРОС:\n\n1. ОБЩИЕ ВОПРОСЫ  \n2. КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ  \n3. ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ\n4. РАСЧЁТ ЗАРПЛАТЫ\n\nТЫ НЕ ДОЛЖЕН ОПРЕДЕЛЯТЬ КАТЕГОРИЮ СЕЙЧАС — ТОЛЬКО ЗАДАТЬ ПРАВИЛЬНЫЙ ВОПРОС.\n\n---\n\n### ПРАВИЛА:\n\n1. ИСПОЛЬЗУЙ ЯЗЫК ПОЛЬЗОВАТЕЛЯ (LANGUAGE = \"ru\" или \"rs\"), ПЕРЕДАННЫЙ В ДАННЫХ N8N.\n2. СФОРМУЛИРУЙ КРАТКИЙ, ВЕЖЛИВЫЙ И ТОЧНЫЙ УТОЧНЯЮЩИЙ ВОПРОС.  \n3. ТВОЙ ВОПРОС ДОЛЖЕН ПОМОЧЬ ПОЗЖЕ ОПРЕДЕЛИТЬ ОДНУ ИЗ ЧЕТЫРЁХ КАТЕГОРИЙ:  \n   - Требуется ли общая информация / организационный вопрос?  \n   - Требуется ли профессиональная бухгалтерская консультация?  \n   - Имеется ли запрос, связанный с отчётами или документами?\n   - Имеется ли запрос, связанный с расчётом зарплаты?\n4. НЕ ДАВАЙ ОТВЕТ, ТОЛЬКО СПРОСИ.  \n5. НЕ ПРЕДПОЛАГАЙ КАТЕГОРИЮ — ТОЛЬКО ПРОСИ УТОЧНИТЬ.  \n6. СОХРАНЯЙ ДЕЛОВОЙ, НЕЙТРАЛЬНЫЙ И ВЕЖЛИВЫЙ ТОН.  \n7. Используй историю ответов пользователя на твои вопросы.\n8. НЕ ИСПОЛЬЗУЙ ЭМОДЗИ, СМАЙЛИКИ, РАЗГОВОРНЫЙ СТИЛЬ.\n\n---\n\n### ПРИМЕРЫ (RU):\n\nВход: \"Хочу открыть фирму\"  \nВыход: \"Пожалуйста, уточните, что именно Вам нужно: общая информация о процессе регистрации, консультация бухгалтера или подготовка документов?\"\n\nВход: \"Нужна справка\"  \nВыход: \"Пожалуйста, уточните, о какой справке идёт речь и за какой период она нужна?\"\n\nВход: \"Подскажите по налогам\"  \nВыход: \"Пожалуйста, уточните, о каких именно налогах или ситуации Вы спрашиваете?\"\n\nВход: \"Рассчитай зарплату\"  \nВыход: \"Пожалуйста, уточните размер фонда заработной платы\"\n\n---\n\n### ПРИМЕРЫ (RS):\n\nUlaz: \"Želim da otvorim firmu\"  \nIzlaz: \"Molim Vas da navedete šta Vam je tačno potrebno: opšte informacije, konsultacija sa knjigovođom ili priprema dokumentacije?\"\n\nUlaz: \"Treba mi potvrda\"  \nIzlaz: \"Molim Vas da precizirate o kojoj potvrdi je reč i za koji period?\"\n\nUlaz: \"Porezi me zanimaju\"  \nIzlaz: \"Molim Vas da navedete na koje poreze ili situaciju mislite?\"\n\nUlaz: \"Izračunaj platu\"\nIzlaz: \"Molim vas, precizirajte iznos fonda zarada\"\n---\n\n### ЧТО НЕЛЬЗЯ ДЕЛАТЬ:\n\n- НЕ ОПРЕДЕЛЯЙ КАТЕГОРИЮ  \n- НЕ ДАВАЙ СОВЕТОВ И ОТВЕТОВ  \n- НЕ ПРЕДЛАГАЙ КОНСУЛЬТАЦИЮ  \n- НЕ ДОБАВЛЯЙ ЛИШНИХ ПРЕДЛОЖЕНИЙ  \n- НЕ СМЕНЯЙ ЯЗЫК  \n\n---\n\n### ФОРМАТ ВЫХОДА:\nТолько один уточняющий вопрос на языке пользователя.\n</system_message>\n",
          "maxIterations": 2
        }
      },
      "id": "e1d85b94-4675-44ad-9781-2b056b91536b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3648,
        4192
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0327f6e8-22f7-4237-b460-db5c0b5bd428",
              "leftValue": "={{ $('Get TgId').item.json.tg_id }}",
              "rightValue": 5165497202,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2016,
        3760
      ],
      "id": "352b296c-dcc7-4748-af58-9da69991860e",
      "name": "Это бухгалтер?"
    },
    {
      "parameters": {
        "jsCode": "const telegramData = $items(\"Start\", 0)[0].json;\nlet message = telegramData.message;\n\nreturn [{ message }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        3600
      ],
      "id": "17e3563d-6d5b-435a-a275-8e0714174666",
      "name": "Giving Telegram message"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3232,
        4016
      ],
      "id": "931649e1-fafb-469b-a058-5de4c5384e7e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8GJ4MWS1pYGJYmuS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3600,
        4480
      ],
      "id": "253c34f9-600d-4c9e-b11b-ba5417d781a4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "8GJ4MWS1pYGJYmuS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $items(\"Start\", 0)[0].json.message;\nconst person = $items(\"Get person\", 0)[0].json;\nreturn {\n  // tg_id: tgId,\n  person: person,\n  message: message\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        4320
      ],
      "id": "d83208c6-810f-428e-8e25-825b2c3cd7d5",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3fM198xces3xqdT1",
          "mode": "list",
          "cachedResultUrl": "/workflow/3fM198xces3xqdT1",
          "cachedResultName": "Buhgalteria_Anketa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2432,
        4320
      ],
      "id": "9c17dc3d-26ec-4599-82f1-5a8144865d8a",
      "name": "Call 'Buhgalteria_Anketa'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcadc07a-ae10-4bf7-a332-983ffe98da99",
              "leftValue": "={{ $json.message.ended }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        4320
      ],
      "id": "ad7991f4-0903-4f56-bc37-416febbe3cc4",
      "name": "If anketa ended"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3936,
        4192
      ],
      "id": "086cc1a6-d8f9-4161-b337-153ea1aaf27d",
      "name": "Уточняющий вопрос",
      "webhookId": "655f4b99-f6dc-4a39-ad66-d0adb9f29f6a",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $('Transform and summarise').item.json.output.category }} \n{{ $('Transform and summarise').item.json.output.summary }} \n{{ $('Transform and summarise').item.json.output['original request'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4560,
        4016
      ],
      "id": "bbee814c-9aeb-444f-964a-3565b0620199",
      "name": "Send a text message1",
      "webhookId": "5ab43b03-d0c6-4f19-9558-ed5195a0035a",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $('Start').item.json.message.from.language_code  === 'ru' ? \"Обратите внимание: консультация бухгалтера платная. Продолжим?\" : \"Obratite pažnju: konsultacija računovođe je plaćena. Da nastavimo?\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Start').item.json.message.from.language_code  === 'ru' ? \"ДА\" : \"JESTE\" }}",
                    "additionalFields": {
                      "callback_data": "consultation_yes"
                    }
                  },
                  {
                    "text": "={{ $('Start').item.json.message.from.language_code  === 'ru' ? \"НЕТ\" : \"NE\" }}",
                    "additionalFields": {
                      "callback_data": "consultation_no"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4560,
        3792
      ],
      "id": "8506491e-2a6c-425c-9a57-c9d5f4c229ff",
      "name": "Send a text message2",
      "webhookId": "2ed1b42b-d920-4acd-9dda-2c643a257255",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $('Transform and summarise').item.json.output.category }} \n{{ $('Transform and summarise').item.json.output.summary }} \n{{ $('Transform and summarise').item.json.output['original request'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4192,
        3648
      ],
      "id": "bac6f3c8-f04d-4058-9890-d6f22d23eac4",
      "name": "Send a text message3",
      "webhookId": "5ab43b03-d0c6-4f19-9558-ed5195a0035a",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработка кнопок",
        "height": 352,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        4000
      ],
      "typeVersion": 1,
      "id": "2b7f073d-51c8-496d-aa1f-3e9bd5d8e05e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "theKPw02Q3OQKIWD",
          "mode": "list",
          "cachedResultUrl": "/workflow/theKPw02Q3OQKIWD",
          "cachedResultName": "Buhgalterija_consultation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2208,
        4144
      ],
      "id": "42315d67-82bd-4af4-97d5-ad4460b31729",
      "name": "Call 'Buhgalterija_consultation'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2604deb-8a70-4288-8759-bc0ff28a61ba",
              "leftValue": "={{ $('Get TgId').item.json.type }}",
              "rightValue": "callback",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        3776
      ],
      "id": "d9701f39-5a36-4b03-a6ee-9cd75b3fcf48",
      "name": "If it is not callback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d44bfb0a-f5d1-477b-b370-ece9ac5c5eba",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        3808
      ],
      "id": "55add6a8-0f7b-4228-afc0-deb6d1f674ab",
      "name": "If it is not event request"
    },
    {
      "parameters": {
        "jsCode": "const message = $items(\"Start\", 0)[0].json.message;\nreturn {\n  user_id: $json.chat_id,\n  chat_id: $json.chat_id,\n  lang: message.from.language_code,\n  text: $json.text\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        3984
      ],
      "id": "93c66670-f732-4497-a844-3c005f9d3251",
      "name": "Prepare to booking"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.callback_query.message.chat.id }}",
        "text": "={{ $('Start').item.json.message.from.language_code === 'ru' ? \"Вы отменили запись на консультацию. Я еще чем-то могу вам помочь?\" : \"Otkažali ste termin za konsultaciju. Mogu li vam još nečim pomoći?\" }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        4304
      ],
      "id": "aa545312-e3b7-4289-8953-54cf4d6470c4",
      "name": "Consultation is declined",
      "webhookId": "5f0a2bec-b712-44b2-8420-0a751bb4ef04",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "content": "## Запись на консультацию бухгалтера",
        "height": 544,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        4016
      ],
      "typeVersion": 1,
      "id": "7e6afe38-4595-47db-9e1a-f4cadf8521e3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-001",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Start').item.json.message.document }}",
              "rightValue": ""
            },
            {
              "id": "condition-002",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Start').item.json.message.photo }}",
              "rightValue": "",
              "combineOperation": "or"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8b8c6003-2eb2-4bcd-89f7-2d3252cbe63a",
      "name": "Check if File/Image",
      "type": "n8n-nodes-base.if",
      "position": [
        -112,
        3776
      ],
      "typeVersion": 2,
      "notes": "Filters messages to process only documents and images"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "fileId",
              "type": "string",
              "value": "={{ $('Start').item.json.message.document?.file_id || $('Start').item.json.message.photo?.slice(-1)[0].file_id }}"
            },
            {
              "id": "assign-002",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Start').item.json.message.document?.file_name || 'image_' + $('Start').item.json.message.date + '.jpg' }}"
            },
            {
              "id": "assign-003",
              "name": "mimeType",
              "type": "string",
              "value": "={{ $('Start').item.json.message.document?.mime_type || 'image/jpeg' }}"
            },
            {
              "id": "assign-004",
              "name": "chatId",
              "type": "number",
              "value": "={{ $('Start').item.json.message.chat.id }}"
            },
            {
              "id": "assign-005",
              "name": "userName",
              "type": "string",
              "value": "={{ $('Start').item.json.message.from.first_name }} {{ $('Start').item.json.message.from.last_name || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a2a2c39-a757-4836-b71d-5752a77a1ca7",
      "name": "Extract File Metadata",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        3040
      ],
      "typeVersion": 3.3,
      "notes": "Extracts file ID, name, type and user info for processing"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Extract File Metadata').item.json.fileId }}",
        "additionalFields": {}
      },
      "id": "00379452-b0b6-406a-b2cc-9f23bde4aee7",
      "name": "Download File from Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1920,
        3024
      ],
      "webhookId": "2d85c25f-c520-4504-a788-2ed08dfce7aa",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      },
      "notes": "Downloads the actual file content from Telegram servers"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.from.id }}",
        "text": "Error: no person",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        3216
      ],
      "id": "362b635c-341b-4ae8-970b-1e0491aac6d5",
      "name": "Error - person does not exist",
      "webhookId": "857bcc2d-8b39-4d12-984f-a693c1859007",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "ОБЩИЕ ВОПРОСЫ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5702efcd-b04f-4e03-a7a0-817a0f7b707b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd623d75-a91b-48c0-8606-aecb0a8284b0",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "КОНСУЛЬТАЦИЯ С БУХГАЛТЕРОМ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b44c53ce-3cdf-408e-bc21-cd6c6778b70c",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "ОТЧЕТНАЯ ДОКУМЕНТАЦИЯ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "822de0d6-da10-48c5-aca8-5b21969614ce",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "ТРЕБУЮТСЯ УТОЧНЯЮЩИЕ ВОПРОСЫ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "658e4e10-0a1b-4b75-b6d1-4408c8b9327a",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "РАСЧЕТ ЗАРПЛАТЫ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3584,
        3744
      ],
      "id": "a42bf756-8aab-4293-9e76-6dd774aa1106",
      "name": "CategorySwitch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "Будет сделано",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4800,
        4176
      ],
      "id": "d66a68be-2928-4599-aad3-4c4a905210c8",
      "name": "Send a text message4",
      "webhookId": "5ab43b03-d0c6-4f19-9558-ed5195a0035a",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2272,
        5648
      ],
      "id": "8684af08-46a2-4ec5-add7-d41d253cb0dc",
      "name": "Sets reminders"
    },
    {
      "parameters": {
        "jsCode": "const dates = {\n    '5': 'salary',\n    '12': 'pdv',\n    '15': 'pdv',\n    '20': 'salary',\n}\nconst gap = 2;\nlet now = new Date();\nlet out = [];\nfor (let index in dates) {\n    let nowDate = parseInt(index);\n    now.setDate(nowDate - gap);\n    let day = now.getDay();\n    if (day === 0) {\n        now.setDate(now.getDate() - 2);\n    } else if (day === 6) {\n        now.setDate(now.getDate() - 1);\n    }\n    let year = now.getFullYear();\n    let month = now.getMonth() + 1;\n    if (month < 10) {\n        month = '0' + month;\n    }\n    let date = now.getDate();\n    if (date < 10) {\n        date = '0' + date;\n    }\n    let nowStr = year + '-' + month + '-' + date;\n    out[out.length] = {\n        date: nowStr,\n        type: dates[index]\n    };\n}\n\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        5648
      ],
      "id": "e940449f-6231-45fe-ab20-52e3a7d1a6f5",
      "name": "Reminders calculation"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "DH4mfdmPnO0IsAqs",
          "mode": "list",
          "cachedResultName": "reminders",
          "cachedResultUrl": "/projects/aRzaVNlTJqENQE2K/datatables/DH4mfdmPnO0IsAqs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.TG_ID }}",
            "date": "={{ $('Reminders calculation').item.json.date }}",
            "type": "={{ $('Reminders calculation').item.json.type }}",
            "status": "todo",
            "repeated": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "repeated",
              "displayName": "repeated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1600,
        5648
      ],
      "id": "06d93963-c538-40e7-a4ca-f12aa3e9ce2b",
      "name": "Insert reminder"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JSO7sz7L8ojTsLNh",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "/projects/aRzaVNlTJqENQE2K/datatables/JSO7sz7L8ojTsLNh"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1856,
        5648
      ],
      "id": "118e26f5-7dcf-4227-bc79-d1c58c4921d3",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "344b3790-02ce-494a-a4d5-b242a8f2e0af",
                    "leftValue": "={{ $('Start').item.json.callback_query.data }}",
                    "rightValue": "consultation_yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "95654b87-ed8c-478f-b050-0aaee2ad6d95",
                    "leftValue": "={{ $('Start').item.json.callback_query.data }}",
                    "rightValue": "consultation_no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -608,
        4080
      ],
      "id": "7acf8c2e-a251-45d0-b1a4-7c9986cbccd5",
      "name": "ButtonSwitch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ $('Start').item.json.message.from.language_code === 'ru' ? 'Я бот-помощник бухгалтерского агентства.\\nЯ могу:\\n    - ответить по общим вопросам;\\n    - записать вас на консультацию к бухгалтеру;\\n    - принять отчетную документацию;\\n    - помочь подать информацию на расчет зарплаты.\\nВы можете общаться со мной текстовыми и голосовыми сообщениями.\\n\\n<b>Чем я сейчас могу вам помочь?</b>' : 'Ja sam bot-pomoćnik računovodstvene agencije.\\nMogu da:\\n    - odgovorim na opšta pitanja;\\n    - zakažem vam konsultaciju kod računovođe;\\n    - primim vašu izveštajnu dokumentaciju;\\n    - pomognem da podnesete informacije za obračun plate.\\nMožete da komunicirate sa mnom tekstualnim i glasovnim porukama.\\n\\n<b>Kako vam sada mogu pomoći?</b>\\n' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2864,
        4016
      ],
      "id": "48911f4b-d284-4113-bb41-edcf77657867",
      "name": "Greetings",
      "webhookId": "5c76237d-62da-4daf-af93-d3e5ac0b40f1",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7aec5baa-ef46-49a3-911a-bab2d7672452",
              "leftValue": "={{ $json.text }}",
              "rightValue": "=/start",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2704,
        3808
      ],
      "id": "47a1ea8a-78af-412a-80d9-f78539b06d82",
      "name": "If not start"
    },
    {
      "parameters": {
        "content": "## Запись на консультацию бухгалтера",
        "height": 208,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        3744
      ],
      "typeVersion": 1,
      "id": "1c64a67a-5992-48fc-9ee4-6f6e1d2ac8e4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Приглашение к загрузке файлов документов\n",
        "height": 192,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        3968
      ],
      "typeVersion": 1,
      "id": "4d207e00-44b2-4833-8c6f-97af9df6a491",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Cron для автоназначения напоминаний",
        "height": 352,
        "width": 1072,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        5504
      ],
      "typeVersion": 1,
      "id": "5ee7d95b-82fb-4e44-b332-a8778bb5f861",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"company\": { \"type\": \"string\" },\n    \"date\": { \"type\": \"string\" },\n    \"message\": { \"type\": \"string\" },\n    \"original\": { \"type\": \"string\" }\n  },\n  \"required\": [\"message\"]\n}\n"
      },
      "id": "b3408f3b-c018-4506-96b3-21d8bc903672",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -688,
        2256
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "={{ ($('Start').item.json.message.from.language_code === 'ru' ? '✅ Напоминание записал: ' : '✅ Zapisao sam podsetnik') + $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3fdae84b-686a-4a72-8d1e-68939eb4f911",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        592,
        2048
      ],
      "webhookId": "f7ff7bbe-9940-4bfe-9f25-dd3a61735ce9",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ТЫ — МАШИНА ДЛЯ ИЗВЛЕЧЕНИЯ СТРУКТУРИРОВАННОЙ ИНФОРМАЦИИ. ТВОЯ ЗАДАЧА — ПРОЧИТАТЬ СООБЩЕНИЕ ПОЛЬЗОВАТЕЛЯ И ВЫДАТЬ  ОБЪЕКТ С ЧЕТЫРЬМЯ КЛЮЧАМИ, СООТВЕТСТВУЮЩИМИ СХЕМЕ:\n\n{\n    \"company\": \"Company\",\n    \"date\": \"date\",\n    \"message\": \"reminder\",\n    \"original\": \"Original message\"\n}\n\n### ПРАВИЛА:\n\n1. ПАРСЬ ТОЛЬКО ПЕРВОЕ УПОМИНАНИЕ КОМПАНИИ В СООБЩЕНИИ И ВНЕСИ ЕЁ В ПОЛЕ \"company\"\n2. ИЗВЛЕКАЙ ПЕРВУЮ УКАЗАННУЮ ДАТУ И ВСТАВЛЯЙ ЕЁ В ПОЛЕ \"date\" В ФОРМАТЕ YYYY-MM-DD, ВКЛЮЧАЯ ГОД. ЕСЛИ МЕСЯЦ ИЛИ ГОД НЕ УКАЗАН В СООБЩЕНИИ, ВОЗЬМИ ТЕКУЩИЙ ГОД И МЕСЯЦ ИЗ currentdate И ИСПОЛЬЗУЙ ИХ\n3. ВСЁ ОСТАВШЕЕСЯ СООБЩЕНИЕ (ПОЛНОСТЬЮ ИЛИ СОКРАЩЁННО) ЗАНОСИ В ПОЛЕ \"message\"\n4. НЕ ДОБАВЛЯЙ ДОПОЛНИТЕЛЬНЫХ ПОЛЕЙ, НЕ ПИШИ РАЗМЕТКУ, НЕ ОБЪЯСНЯЙ СВОЙ ВЫВОД\n5. ЕСЛИ ДАТА ИЛИ КОМПАНИЯ ОТСУТСТВУЮТ — ПОЛЕ ДОЛЖНО СОДЕРЖАТЬ ПУСТУЮ СТРОКУ \"\"\n6. ПОЛЕ original СОДЕРЖИТ ОРИГИНАЛЬНОЕ СООБЩЕНИЕ, А ПОЛЕ message СОДЕРЖИТ SUMMARY СООБЩЕНИЯ\n\n### ПРИМЕРЫ ОТВЕТА:\n#### ПРИМЕР 1\n{\n  \"company\": \"Яндекс\",\n  \"date\": \"2025-11-25\",\n  \"message\": \"У Яндекса изменились условия использования сервиса, и вам нужно подтвердить согласие в течение недели\",\n  \"original\": \"Вчера, 25 ноября 2025 года, я получил письмо от компании Яндекс. Они написали, что изменились условия использования сервиса, и мне нужно подтвердить согласие в течение недели.\"\n}\n#### ПРИМЕР 2\n{\n  \"company\": \"Рога\",\n  \"date\": \"2025-11-30\",\n  \"message\": \"тридцатого будет конец месяца\",\n  \"original\": \"Напомни компании Рога, что тридцатого будет конец месяца.\"\n}\n###ЧЕГО НЕ ДЕЛАТЬ###\n\nНЕ ИЗМЕНЯЙ СХЕМУ\nНЕ ИЗМЕНЯЙ ТЕКСТ СООБЩЕНИЯ — СОХРАНЯЙ ЕГО ПОЛНОСТЬЮ, КАК ОН ЕСТЬ\n"
        }
      },
      "id": "b4d47fb4-9ebf-4053-8ffa-cf39c3aa727f",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -896,
        2064
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -960,
        2240
      ],
      "id": "a35ecb34-9b82-4bdb-bd95-575a2dff3cfb",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "8GJ4MWS1pYGJYmuS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.callback_query.message.text }}",
                    "rightValue": "reminder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "78f2b5d9-d4ba-4ebd-95e7-02a340aece3a"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1008,
        2448
      ],
      "id": "452357c6-8ec9-4fcd-babb-94eb769ab2b8",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "535f2b34-2e91-4f65-9fc6-2d2d00680eac",
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1568,
        2080
      ],
      "id": "7a3a0376-6f1e-4ee0-acb8-e42af24c3e07",
      "name": "If it is not callback2"
    },
    {
      "parameters": {
        "jsCode": "const telegramData = $items(\"Start\", 0)[0].json;\nlet message = telegramData.message;\n\nreturn [{ message }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        2064
      ],
      "id": "8ca7b02b-5971-4d18-a09a-70ee2eeaf6ca",
      "name": "Giving Telegram message1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rcn9qJd4BpglAMjf",
          "mode": "list",
          "cachedResultUrl": "/workflow/rcn9qJd4BpglAMjf",
          "cachedResultName": "Buhgalterija_Transcribator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1184,
        2064
      ],
      "id": "4e37cb24-8b31-41b9-988c-5d5466b8d9cc",
      "name": "Call 'Buhalterija_Transcribator'1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd3e5bcc-ff36-4a05-a29d-0adc4bd1254c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        2064
      ],
      "id": "61a3d767-5be3-418b-9181-1031746f1857",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -784,
        2272
      ],
      "id": "5e844de3-df8a-427b-900d-64702aa31c4d",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').item.json.message.chat.id }}",
        "text": "Компании с таким названием я не нашел. Пожалуйста, повторите попытку",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        2304
      ],
      "id": "4dee78a3-f2db-4e56-85c4-c0116add2ac6",
      "name": "Company not found",
      "webhookId": "93c25295-5bd1-411b-a000-850640d98735",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "274776de-c861-4ae9-927b-78bc46ee924d",
              "name": "tg_id",
              "value": "={{ $('Get company').item.json.TG_ID }}",
              "type": "string"
            },
            {
              "id": "dcaa82ad-30e9-4500-a925-13e11921d459",
              "name": "output.date",
              "value": "={{ $('AI Agent1').item.json.output.date }}",
              "type": "string"
            },
            {
              "id": "66f051fa-3d64-46b5-aee5-75fb7288ad2a",
              "name": "output.message",
              "value": "={{ $('AI Agent1').item.json.output.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        2048
      ],
      "id": "2acfbea9-1351-4c84-a8b0-51f836aca298",
      "name": "Prepare to insert reminder"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rcn9qJd4BpglAMjf",
          "mode": "list",
          "cachedResultUrl": "/workflow/rcn9qJd4BpglAMjf",
          "cachedResultName": "Buhgalterija_Transcribator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1280,
        3888
      ],
      "id": "9ba99b3d-37b3-4c49-ab58-4cc6beac5d96",
      "name": "Call 'Buhalterija_Transcribator'2"
    },
    {
      "parameters": {
        "jsCode": "const telegramData = $items(\"Start\", 0)[0].json;\nlet message = telegramData.message;\n\nreturn [{ message }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        3872
      ],
      "id": "35d04d8c-afac-4f12-b5d4-f51fb4beaf01",
      "name": "Giving Telegram message2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM steps WHERE tg_id = {{ $('Get TgId').item.json.tg_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        3808
      ],
      "id": "99459f85-9739-43cc-9fe9-e1a30b1404fe",
      "name": "COUNT(steps)",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cee841d9-6e5e-48dc-89a7-427e66505e0c",
              "leftValue": "={{ $json.company_id }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8cf19ab6-e26b-4e76-b9fa-51d367d775b8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        3584
      ],
      "id": "f230e248-0aaf-473e-8730-a573ef4c1f98",
      "name": "If company is filled in"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Get TgId').item.json.tg_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        3584
      ],
      "id": "8580eb02-a6ad-4595-aad5-e806252031da",
      "name": "Select customer",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55416aa1-266d-412a-b6cd-9845b1352c08",
              "name": "person",
              "value": "={{ $('Select customer').item.json }}",
              "type": "string"
            },
            {
              "id": "0413ac82-b03f-4db7-bb2a-cd02bbc04f42",
              "name": "message",
              "value": "={{ $('Start').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        4320
      ],
      "id": "05cde0fa-2a1f-42f6-92d2-91da4bfc42eb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('task_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4480,
        4176
      ],
      "id": "9f4f09c7-d828-4ce4-8b5a-f7da88a973cb",
      "name": "Task next id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "due_date": "={{ $('Fields for a new task').item.json.completion_date }}",
            "id": "={{ $json.nextval }}",
            "category": "={{ $('Fields for a new task').item.json.category }}",
            "request": "={{ $('Fields for a new task').item.json.request }}",
            "status": "={{ $('Fields for a new task').item.json.status }}",
            "company_id": "={{ $('Select customer').item.json.company_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4640,
        4176
      ],
      "id": "49fc44d1-c02c-442c-be15-a505eabb4ce1",
      "name": "Insert task",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let now = new Date();\nif (now.getDate() < 5) {\n  now.setDate(5);\n} else if (now.getDate() < 20) {\n  now.setDate(20);\n} else {\n  now.setMonth(now.getMonth() + 1);\n  now.setDate(5);\n}\nlet day = now.getDate();\nlet month = now.getMonth() + 1;\nlet year = now.getFullYear();\nlet dayS = day > 9 ? '' + day : '0' + day;\nlet monthS = month > 9 ? '' + month : '0' + month;\nlet out = {\n  tg_id: $('Start').item.json.message.from.id,\n  category: $('Transform and summarise').item.json.output.category,\n  request: $('Start').item.json.message.text,\n  completion_date: year + '-' + monthS + '-' + dayS,\n  status: 'new'\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        4176
      ],
      "id": "73f42855-cc79-47a0-a1ae-fd50c7a28a70",
      "name": "Fields for a new task"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get TgId').item.json.tg_id }}",
        "text": "Загрузите регистрационные документы",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        3408
      ],
      "id": "dbcab120-7d27-44f3-8ae6-ef892e659af4",
      "name": "Send a text message5",
      "webhookId": "d1aef853-e061-4243-bba8-f35fdb330a2c",
      "credentials": {
        "telegramApi": {
          "id": "oeQncZosC51H5lEc",
          "name": "acworkBot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let tgId = $input.first().json.callback_query?.message?.from?.id ?? $input.first().json.message?.from?.id;\nlet chatId = $input.first().json.message?.chat?.id ?? $input.first().json.callback_query?.message?.chat?.id;\nlet text = $input.first().json.message?.text ?? $input.first().json.callback_query?.data ?? '';\nlet type = 'message';\nif ($input.first().json.callback_query) {\n  type = 'callback';\n}\nif ($input.first().json.message?.photo) {\n  type = 'photo';\n}\nif ($input.first().json.message?.document) {\n  type = 'document';\n}\nlet user;\nswitch (type) {\n  case 'message':\n  case 'photo':\n  case 'document':\n    user = {\n      first_name: $input.first().json.message.from.first_name,\n      last_name: $input.first().json.message.from.last_name,\n      username: $input.first().json.message.from.username,\n      lang: $input.first().json.message.from.language_code\n    };\n    break;\n  case 'callback':\n    user = {\n      first_name: $input.first().json.callback_query.message.from.first_name,\n      last_name: $input.first().json.callback_query.message.from.last_name,\n      username: $input.first().json.callback_query.message.from.username,\n      lang: $input.first().json.callback_query.message.from.language_code\n    };\n}\nreturn {\n  tg_id:  tgId,\n  chat_id: chatId,\n  text: text,\n  type: type,\n  user: user\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        3760
      ],
      "id": "b7abde7d-9363-4b78-8ef3-8ebd4384ac29",
      "name": "Get TgId"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query",
          "edited_message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2480,
        3760
      ],
      "id": "dd95fc6f-00c7-4323-a6d9-ecdf87c0dcea",
      "name": "Start",
      "webhookId": "0853a2a2-a7f0-4a5f-a37e-2df066cde315",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM customer WHERE tg_id = {{ $('Start').item.json.message.chat.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        3024
      ],
      "id": "b1d9bf53-fc7f-4d24-8f21-63797a2c3c8b",
      "name": "COUNT(customer)1",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00a2f70c-a16e-49d4-90c6-c539e8d8f4a9",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        3024
      ],
      "id": "3cf21b78-b90d-48c7-8d67-c8271ac2ee71",
      "name": "If customer exists1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Start').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        3024
      ],
      "id": "bc244772-41f4-41e1-b568-197f1763fcec",
      "name": "Select customer1",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('documents_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        3024
      ],
      "id": "c8f4f80d-08bf-4c3a-a224-86f22323cdf8",
      "name": "Next document id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2272,
        3024
      ],
      "id": "7e608303-9426-4596-ac8e-31095eb69db4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "customer",
          "mode": "list",
          "cachedResultName": "customer"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Select customer1').item.json.id }}",
            "status": "loaded"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "create_at",
              "displayName": "create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "update_at",
              "displayName": "update_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3072,
        3008
      ],
      "id": "10fbb4d9-3efd-47a4-87a3-f26b1239d827",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4828986d-17d6-42b5-9ed4-dc75fbc79e12",
              "leftValue": "={{ $('Select customer1').item.json.status }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2864,
        3024
      ],
      "id": "8c2ccb69-536d-4324-a429-903f5a599a66",
      "name": "If customer is new"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('steps_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        4144
      ],
      "id": "08300cc3-ff7b-4dbd-a80f-6e77f92bb334",
      "name": "Next step id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "steps",
          "mode": "list",
          "cachedResultName": "steps"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "event",
            "step": "topic",
            "id": "={{ $json.nextval }}",
            "tg_id": "={{ $('Get TgId').item.json.tg_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        4144
      ],
      "id": "52800278-3118-4c43-951b-3028b8c9527f",
      "name": "Insert step",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const callback_query = $items(\"Start\", 0)[0].json.callback_query;\nreturn {\n  user_id: callback_query.message.from.id,\n  chat_id: callback_query.message.chat.id,\n  lang: callback_query.from.language_code,\n  text: ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        4144
      ],
      "id": "ef50686b-b86c-4e20-a3d3-a76b820b48d4",
      "name": "Prepare to booking2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "company",
          "mode": "list",
          "cachedResultName": "company"
        },
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('AI Agent1').item.json.company }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -544,
        2064
      ],
      "id": "5c4b2281-ad17-47ea-be7a-2a0b1a2e0a58",
      "name": "Seek a company by the name",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('reminder_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        2048
      ],
      "id": "3314ef57-c7c6-4152-aeed-d7b6fa3b31ac",
      "name": "Next reminder id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reminder",
          "mode": "list",
          "cachedResultName": "reminder"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.nextval }}",
            "company_id": "={{ $('Seek a company by the name').item.json.id }}",
            "template_id": 0,
            "send_date": "={{ $json.output.date }}",
            "type": "manual",
            "message": "={{ $json.output.message }}",
            "status": "new"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "template_id",
              "displayName": "template_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "send_date",
              "displayName": "send_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_at",
              "displayName": "create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "update_at",
              "displayName": "update_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        2048
      ],
      "id": "14dcc198-3c01-4625-88b5-aa53dd4a376d",
      "name": "Insert reminder1",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Загрузка документов",
        "height": 448,
        "width": 2048
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        2960
      ],
      "typeVersion": 1,
      "id": "03dae9c5-1582-4494-b535-31f88b6f7a4a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tSGDpQI6hJjFvnp",
          "mode": "list",
          "cachedResultUrl": "/workflow/4tSGDpQI6hJjFvnp",
          "cachedResultName": "Buhgalterija_Transcribator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2208,
        3808
      ],
      "id": "87074cf8-9fa0-4608-9966-e8de69f123b3",
      "name": "Call 'Buhgalterija_Transcribator'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO documents (id, metadata, tg_id, company_id, content, filename, mimetype, type_id, status)\nVALUES (\n  {{ $('Next document id').item.json.nextval }},\n  '{{ JSON.stringify($('Extract File Metadata').item.json) }}',\n  {{ $('Select customer1').item.json.tg_id }}, -- Исправлено: берем из Select customer1, так как Get TgId может отсутствовать\n  {{ $('Select customer1').item.json.company_id }},\n  decode('{{ $json.file }}', 'base64'),\n  '{{ $('Extract File Metadata').item.json.fileName }}',\n  '{{ $('Extract File Metadata').item.json.mimeType }}',\n  1,\n  'uploaded'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2560,
        3024
      ],
      "id": "4e31d480-2470-4889-a186-795242bdc121",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get TgId').item.json.tg_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        5024
      ],
      "id": "6ff3d637-1dfe-4c17-ad50-d3f1ccfb363b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get TgId').item.json.text }}",
        "options": {
          "systemMessage": "=<system_prompt>\nYOU ARE THE ADMINISTRATOR OF A SERBIAN ACCOUNTING AND MIGRATION AGENCY. YOU ARE INTELLIGENT, PRECISE, AND PROFESSIONAL.\n\n###CORE PROTOCOL###\n\n1.  **STRICT FORMATTING:**\n    * **NO MARKDOWN:** Do not use `**`, `__`, or `##`.\n    * **HTML ONLY:** Use <b>text</b> for data points and <i>text</i> for polite emphasis.\n\n2.  **NO CONTACT COLLECTION:**\n    * **NEVER** ask the user for their phone number, email, or Telegram handle.\n    * Assume the system automatically identifies the user.\n    * When handing over, simply say: \"Our specialist will contact you <b>here</b>.\"\n\n3.  **THE \"SMART ANALYST\" LOGIC:**\n    * Your goal is to gather the **Checklist Details**.\n    * **RULE OF EFFICIENCY:** Before asking ANY question, check the user's input.\n    * **CASE A: Data Complete (One-Shot):** If the user *already* provided all necessary details -> **DO NOT ASK QUESTIONS.** Confirm receipt and GENERATE `[Internal Summary]` immediately.\n    * **CASE B: Data Missing:** If specific Checklist items are missing -> Ask clarifying questions to fill the gaps.\n    * **CASE C: General Questions:** Answer directly (Hours, Address).\n\n4.  **KNOWLEDGE BASE:**\n    * **Address:** Braće Ribnikar 1, Novi Sad.\n    * **Hours:** 10:00 - 16:00, Mon-Fri.\n    * **VHJ Rule:** Client **MUST** show proof of funds on a bank account.\n    * **Banking:** EUR is standard. **USD is difficult/slow** (warn if asked).\n    * **Pricing:** You do not know prices. Pricing is individual.\n\n###REQUIRED INFORMATION CHECKLIST (For Handover)###\n\n**A. New Business (IP/DOO):**\n1.  **Citizenship**.\n2.  **Activity** (General area like IT/Trade). *Do not advise on specific Codes.*\n3.  **Stage** (Planning vs. Docs Submitted).\n\n**B. Migration (VHJ / PMJ):**\n1.  **Citizenship**.\n2.  **Basis** (Firm, Property, Family).\n3.  **Status** (In Serbia vs. Abroad).\n\n**C. Services:**\n* **Bank:** Preference? (Warn about USD).\n* **Translation:** Language Pair?\n\n**D. Support / Debts:**\n* **ID:** PIB / Company Name.\n* **Details:** Dates, Amounts, Photos.\n\n###CHAIN OF THOUGHTS###\n\n1.  **ANALYZE INPUT:** Scan the user's text.\n2.  **CHECK COMPLETENESS:**\n    * *Does the text ALREADY contain all Checklist items?*\n    * **YES** -> STOP questioning. Proceed to **OUTPUT (Handover)**.\n    * **NO** -> Identify missing items. Proceed to **OUTPUT (Question)**.\n    * *Is it a Price request?* -> **HANDOVER**.\n3.  **FORMULATE RESPONSE:**\n    * If Complete: Acknowledge data + State that accountant will reply here + Generate Summary.\n    * If Incomplete: Ask polite questions for missing bits only.\n\n###WHAT NOT TO DO###\n\n-   **NEVER** ask for contact info (Phone/Email/Username).\n-   **NEVER** ask for information the user has already provided.\n-   **NEVER** use Markdown.\n\n###FORMATTING THE OUTPUT###\n\n**Scenario 1: Asking Questions (Data Incomplete)**\n(Response in HTML)\n\n**Scenario 2: Final Handover (Data Complete)**\n(Response in HTML)\n\n[SEPARATOR]\n\n[Internal Summary]\n<b>Язык клиента:</b> (RU / EN / RS)\n<b>Статус:</b> (ГОТОВ К РАБОТЕ)\n<b>Тема:</b> (Регистрация / ВНЖ / Адрес / Цены)\n<b>Суть запроса:</b> (Summary in RUSSIAN)\n<b>Собранные данные:</b> (Detailed Checklist in RUSSIAN)\n\n###FEW-SHOT EXAMPLES###\n\n**User (Russian):** \"Добрый день! Я гражданин РФ, нахожусь в Нови Саде, хочу открыть ИП для программирования. Документы еще не подавал, нужна помощь.\"\n**Agent (Thinking: Data Complete (Citizenship=RF, Activity=IT, Stage=Planning). Action: Immediate Handover):**\n\"Добрый день! Рады приветствовать вас в Нови Саде.\nОтлично, что вы обратились к нам на этапе планирования. Для IT-специалистов из РФ у нас отработанный процесс.\nЯ передал все ваши данные (гражданство, сфера IT) нашему бухгалтеру. Он свяжется с вами <b>здесь</b> в ближайшее время для старта работы.\"\n\n[SEPARATOR]\n\n[Internal Summary]\n<b>Язык клиента:</b> RU\n<b>Статус:</b> ГОТОВ К РАБОТЕ\n<b>Тема:</b> Регистрация ИП\n<b>Суть запроса:</b> Открытие ИП для программиста.\n<b>Собранные данные:</b> Гражданство РФ. Деятельность: Программирование (IT). Стадия: Планирование (в Нови Саде).\n\n---\n\n**User (Serbian/RS):** \"Treba mi pomoć oko otvaranja firme.\"\n**Agent (Thinking: Missing Activity & Stage. Action: Ask):**\n\"Pozdrav! Tu smo da pomognemo.\nDa bismo znali koja procedura vam je potrebna, recite nam:\n1. Čime planirate da se bavite (delatnost)?\n2. Da li ste već u procesu registracije ili se tek raspitujete?\"\n\n**User:** \"Trgovina odećom. Tek se raspitujem.\"\n**Agent (Thinking: Data Complete. Action: Handover):**\n\"Razumem. Trgovina zahteva specifične korake (kasa, evidencija).\nProsledio sam upit kolegi. Kontaktiraće vas uskoro <b>ovde</b> radi konsultacije.\"\n\n[SEPARATOR]\n\n[Internal Summary]\n<b>Язык клиента:</b> RS\n<b>Статус:</b> ГОТОВ К РАБОТЕ\n<b>Тема:</b> Регистрация фирмы\n<b>Суть запроса:</b> Открытие торговой фирмы.\n<b>Собранные данные:</b> Деятельность: Торговля одеждой. Стадия: Планирование.\n</system_prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        4768
      ],
      "id": "09018e58-1453-44f5-b2ad-fef15dfb7ba7",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        5024
      ],
      "id": "2dd2acbc-ddff-4002-9461-eb1cbbf85caa",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "8GJ4MWS1pYGJYmuS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM passed_by WHERE tg_id = {{ $('Get TgId').item.json.tg_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1312,
        3968
      ],
      "id": "4864de77-b28d-4c7c-aced-8cbbfab89486",
      "name": "COUNT(passedBy)",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00a2f70c-a16e-49d4-90c6-c539e8d8f4a9",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        4240
      ],
      "id": "a7215c7c-583c-44ce-9050-dcbcf74ccdbc",
      "name": "If passedBy exists"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "passed_by",
          "mode": "list",
          "cachedResultName": "passed_by"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.nextval }}",
            "firstname": "={{ $('Get TgId').item.json.user.first_name }}",
            "lastname": "={{ $('Get TgId').item.json.user.last_name }}",
            "username": "={{ $('Get TgId').item.json.user.username }}",
            "status": "new",
            "tg_id": "={{ $('Get TgId').item.json.tg_id }}",
            "lang": "={{ $('Get TgId').item.json.user.lang }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        4800
      ],
      "id": "79889514-3011-4c1c-9e54-f4bb6325e798",
      "name": "Insert passedBy",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nextval('passed_by_id_seq'::regclass)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -960,
        4800
      ],
      "id": "0611dcdf-fec5-49cc-acbd-fecdad9e4c05",
      "name": "PassedBy next id",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM customer WHERE tg_id = {{ $('Get TgId').item.json.tg_id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1760,
        3760
      ],
      "id": "e739a523-121e-426f-a3e8-2273cf055fad",
      "name": "COUNT(customer)",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00a2f70c-a16e-49d4-90c6-c539e8d8f4a9",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        3760
      ],
      "id": "e5483b62-0fb3-4229-b018-b0937602e1f5",
      "name": "If customer exists"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get TgId').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        4960
      ],
      "id": "4992b009-7a67-4e7b-83e9-c298a1a315ac",
      "name": "Send a text message6",
      "webhookId": "0b3f7024-5274-4b3c-b199-705f786fc047",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f628aa57-828f-41f9-ae00-159e31012316",
              "leftValue": "={{ $json.output }}",
              "rightValue": "[Internal Summary]",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        4768
      ],
      "id": "a4402bd2-bbd6-42e3-b950-41bb46aee6ae",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "passed_by",
          "mode": "list",
          "cachedResultName": "passed_by"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Get TgId').item.json.tg_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        4672
      ],
      "id": "476a8284-350e-447d-b1d2-114fc1e9bdeb",
      "name": "Get passedBy",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "passed_by",
          "mode": "list",
          "cachedResultName": "passed_by"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get passedBy').item.json.id }}",
            "status": "transferred"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firstname",
              "displayName": "firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastname",
              "displayName": "lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lang",
              "displayName": "lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        4672
      ],
      "id": "c4cf95cd-21f5-4eba-a524-6994302cefa2",
      "name": "Update passedBy status",
      "credentials": {
        "postgres": {
          "id": "N5h87HBAod9axJFf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5165497202",
        "text": "={{ $('AI Agent2').item.json.output }}\\n<b>Контакты:</b> ({{ $('Get TgId').item.json.user.username }}, {{ $('Get TgId').item.json.tg_id }}, {{ $('Get TgId').item.json.user.first_name }}, {{ $('Get TgId').item.json.user.last_name }})",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        4672
      ],
      "id": "c679007e-88ee-43a2-be59-29dab14f4354",
      "name": "Summary for accountant",
      "webhookId": "37ef8164-fdff-4c54-918e-338541badc66",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Get TgId').item.json.tg_id }}",
        "text": "Я передал вашу заявку спициалистам, с вами свяжутся.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        4672
      ],
      "id": "9ba4cade-f1f0-4926-9e2d-4d2523ff948e",
      "name": "Final message",
      "webhookId": "ca662218-18dd-494c-80e6-149b3aa8e3ed",
      "credentials": {
        "telegramApi": {
          "id": "60eoLbEhTrrzsQC6",
          "name": "Bot Buhgalterija"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Transform and summarise": {
      "main": [
        [
          {
            "node": "CategorySwitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Уточняющий вопрос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Это бухгалтер?": {
      "main": [
        [
          {
            "node": "If it is not callback2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COUNT(customer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Giving Telegram message": {
      "main": [
        [
          {
            "node": "Call 'Buhgalterija_Transcribator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Transform and summarise",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Call 'Buhgalteria_Anketa'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Buhgalteria_Anketa'": {
      "main": [
        [
          {
            "node": "If anketa ended",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If anketa ended": {
      "main": [
        []
      ]
    },
    "If it is not callback": {
      "main": [
        [
          {
            "node": "Check if File/Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ButtonSwitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it is not event request": {
      "main": [
        [
          {
            "node": "Select customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Giving Telegram message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare to booking": {
      "main": [
        [
          {
            "node": "Call 'Buhgalterija_consultation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File/Image": {
      "main": [
        [
          {
            "node": "Extract File Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COUNT(steps)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Metadata": {
      "main": [
        [
          {
            "node": "COUNT(customer)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File from Telegram": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CategorySwitch": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fields for a new task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sets reminders": {
      "main": [
        [
          {
            "node": "Reminders calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminders calculation": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Insert reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ButtonSwitch": {
      "main": [
        [
          {
            "node": "Next step id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultation is declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not start": {
      "main": [
        [
          {
            "node": "Transform and summarise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Seek a company by the name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If it is not callback2": {
      "main": [
        [
          {
            "node": "Giving Telegram message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Giving Telegram message1": {
      "main": [
        [
          {
            "node": "Call 'Buhalterija_Transcribator'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Buhalterija_Transcribator'1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare to insert reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Company not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare to insert reminder": {
      "main": [
        [
          {
            "node": "Next reminder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Buhalterija_Transcribator'2": {
      "main": [
        [
          {
            "node": "Prepare to booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Giving Telegram message2": {
      "main": [
        [
          {
            "node": "Call 'Buhalterija_Transcribator'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT(steps)": {
      "main": [
        [
          {
            "node": "If it is not event request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If company is filled in": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Giving Telegram message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select customer": {
      "main": [
        [
          {
            "node": "If company is filled in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task next id": {
      "main": [
        [
          {
            "node": "Insert task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert task": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields for a new task": {
      "main": [
        [
          {
            "node": "Task next id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TgId": {
      "main": [
        [
          {
            "node": "Это бухгалтер?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get TgId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT(customer)1": {
      "main": [
        [
          {
            "node": "If customer exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If customer exists1": {
      "main": [
        [
          {
            "node": "Select customer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - person does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select customer1": {
      "main": [
        [
          {
            "node": "Next document id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next document id": {
      "main": [
        [
          {
            "node": "Download File from Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If customer is new": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next step id": {
      "main": [
        [
          {
            "node": "Insert step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert step": {
      "main": [
        [
          {
            "node": "Prepare to booking2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare to booking2": {
      "main": [
        [
          {
            "node": "Call 'Buhgalterija_consultation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seek a company by the name": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next reminder id": {
      "main": [
        [
          {
            "node": "Insert reminder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert reminder1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Buhgalterija_Transcribator'": {
      "main": [
        [
          {
            "node": "If not start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If customer is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "COUNT(passedBy)": {
      "main": [
        [
          {
            "node": "If passedBy exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If passedBy exists": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PassedBy next id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PassedBy next id": {
      "main": [
        [
          {
            "node": "Insert passedBy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert passedBy": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COUNT(customer)": {
      "main": [
        [
          {
            "node": "If customer exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If customer exists": {
      "main": [
        [
          {
            "node": "If it is not callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COUNT(passedBy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get passedBy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get passedBy": {
      "main": [
        [
          {
            "node": "Update passedBy status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update passedBy status": {
      "main": [
        [
          {
            "node": "Summary for accountant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary for accountant": {
      "main": [
        [
          {
            "node": "Final message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eea85f5f-033d-4bcf-bb18-da2e81b7ab2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed2832199a6c6c3954e6f128ab0e8f74dedac9ab651f2e74dc671a018df750fe"
  },
  "id": "U35SfwCjcCqR8KMJ",
  "tags": []
}